[2016-10-13 18:28] #1515 closed

[2016-10-13 18:33] jdegoes commented on #1559
@rabbitonweb Are you sure this is the same issue as reported above? If not, may make sense to track this in a separate ticket.

[2016-10-13 18:35] sellout commented on #1559
Yeah, this query looks more like #1560 – notice how this issue doesn’t have `join … on`, where it’s the `on` that is broken in your example.

[2016-10-13 18:38] jdegoes commented on #1559
OK, @rabbitonweb, please open up a new one for this.

[2016-10-13 19:57] rabbitonweb opened #1581 "Query with join creates invalid QScript"
Copy-paste conversation with @sellout

for
`select * from /rabbit/hadoop/test4.txt as left join /rabbit/hadoop/test2.txt as right on left.country = right.country`
I get 0 results

sellout [1:06]
I simplified it down to this:

[code]

[1:06]
Which looks right except that the keys are `MakeArray(SrcHole)` when they should be `MakeArray(ProjectField(SrcHole, StrLit("country")))`.

[1:07]
I.e., it’s o

[2016-10-13 19:58] rabbitonweb commented on #1559
Done https://github.com/quasar-analytics/quasar/issues/1581

[2016-10-13 23:54] #1568 closed

[2016-10-14 05:15] wemrysi commented on #1569
@sellout Ok, I can look into it next week. As an aside, if you have `docker` and `jq` installed, you should be able to run `scripts/installMarkLogic` to get a running container.

[2016-10-14 05:45] #1544 closed

[2016-10-14 05:46] #1564 closed

[2016-10-14 13:24] rabbitonweb opened #1583 "GroupBy does not work correctly"
Runnning simple `group by` query gives weird result

QScript (Spark):
Subset((),Reduce(ShiftedRead(/patients.json, ExcludeId),ConcatArrays(MakeArray(ProjectIndex(ProjectIndex(ProjectIndex(ProjectField(Guard(SrcHole, Obj(Map(),Some(Top)), SrcHole, Undefined()), Constant(Str(city))), Constant(Int(0))), Constant(Int(1))), Constant(Int(1)))), MakeArray(MakeMap(Constant(Str(j)), ConcatArrays(MakeArray(

[2016-10-14 13:33] sellout commented on #1583
It helps if you could include the query, so I know what the plan _should_ look like.

[2016-10-14 13:42] rabbitonweb commented on #1583
I thought I did :)

Here you go:

`select city from `/patients.json` group by city`

[2016-10-14 14:25] sellout commented on #1583
Hrmm, it looks like the provenance is having extra `ProjectIndex`es added to it along the way, otherwise the query is correct.

[2016-10-14 14:41] rabbitonweb commented on #1583
So it is an error on spark side?

[2016-10-14 14:47] sellout commented on #1583
Oh, sorry, no – it’s a QScript error.

[2016-10-14 18:13] #1261 closed

[2016-10-14 18:13] #1253 closed

[2016-10-14 18:14] #1254 closed

[2016-10-14 18:15] #1260 closed

[2016-10-14 18:15] rabbitonweb commented on #1259
Missing `Extract` MapFuncs

[2016-10-14 18:18] sellout commented on #1583
I think this must have been fixed by either #1582 or 12.4.12. Will leave it to @rabbitonweb to verify once #1582 is merged.

[2016-10-14 18:19] drostron opened #1587 "CB: General Join"

[2016-10-14 18:23] rabbitonweb commented on #1258
Missing Sort, requires `Order` for `Data` (almost done)

[2016-10-14 18:23] #1257 closed

[2016-10-14 18:23] #1256 closed

[2016-10-14 18:24] #1255 closed

[2016-10-14 18:29] rabbitonweb commented on #1571
It's fixed. In master already.

[2016-10-14 18:29] #1571 closed

[2016-10-14 19:16] rabbitonweb opened #1589 "Change way we build Quasar: Spark vs other connectors"
Current version of Quasar for Spark is being build with system properties. @paulp said is overcomplicated. This issue is here to adjust our code base to @paulp suggestions

[code]

[2016-10-14 19:19] rabbitonweb opened #1590 "Document Spark connector in README"
Requires

- [x] how to build quasar for spark
- [x] how to use quasar with spark

[2016-10-15 00:15] #1542 closed

[2016-10-15 00:18] alissapajer commented on #1569
Closed by the merge of #1582

[2016-10-15 00:18] #1569 closed

[2016-10-15 00:19] alissapajer commented on #1578
Closed by the merge of #1582

[2016-10-15 00:19] #1578 closed

[2016-10-15 01:57] #1583 closed

[2016-10-16 23:32] mossprescott opened #1591 "MongoDB: `= null` matches missing field when compiled to a selector"
Depending on how a query is compiled, a missing value may or may not be considered equal to `null`. Specifically, when compiled to a selector, comparison with `null` _does_ match a missing value, but otherwise it does not.

For example:

[code]

But the result should be the same (no results). The second query forces the condition to be evaluated in `$project` (i.e. `{ "$eq": ["$foo", { "$literal":

[2016-10-16 23:33] mossprescott commented on #1591
This case should be added to StdLibSpec, which should be implemented for the Selector translation.

[2016-10-17 18:16] drostron opened #1593 "Couchbase Connector: Filter"

[2016-10-17 18:16] drostron opened #1594 "CB: LeftShift"

[2016-10-17 21:02] #1322 closed

[2016-10-17 21:02] #1321 closed

[2016-10-17 23:00] #1558 closed

[2016-10-17 23:18] alissapajer commented on #1559
Fixed by #1592

[2016-10-17 23:18] #1559 closed

[2016-10-18 16:22] drostron opened #1600 "CB: ConcatMaps"

[2016-10-18 16:34] drostron opened #1601 "CB: Additional QScript terms"
- [x] Arbitrary #1653
- [x] EJson: Meta, Byte, Char #1686
- [x] Const(Root) #1602
- [x] TimeOfDay, Extract* #1686
- [x] IfUndefined #1696
- ~~Coalesce~~ #1604
- ~~DupMapKeys, DupArrayIndices, ZipMapKeys, ZipArrayIndices~~ #1692
- [x] BucketField, BucketIndex #1602

[2016-10-18 16:38] sellout commented on #1601
You don’t have to provide a real implementation for `Const(Root)` or `BucketField`/`BucketIndex`. If you look at another connector, you’ll see that those (as well as two other cases that depend on your flavor of QScript) are implemented with something like `InternalError("unreachable").left` (depending on the monad of the planner).

I’m also going to remove `Coalesce` – that’s another SQL-ism that

[2016-10-18 20:00] drostron opened #1603 "Couchbase Connector: Utilize DefinitionError in FileSystemDef interpreter"
Currently some errors are being swallowed as Task failures and therefore not communicated via the API.

[2016-10-19 01:20] #1593 closed

[2016-10-19 04:41] drostron commented on #1295
[code]

[2016-10-19 14:08] drostron commented on #1295
[code]

[2016-10-19 15:53] drostron opened #1607 "CB: Enable remaining query integration tests"
This is a bit of a catch all and will likely spawn new issues as additional tests are being enabled.

Test | Status
--- | ---
caseVariations.test | distinct/ordering bug (ordering lost on reduce step)
caseWithGroup.test | distinct/ordering bug
citiesByLargestZip.test | distinct/ordering bug
different-flattens.test | #1951 qscript provenance bug
flattenArrayLeftWithUnflattened.test | #2360 CB Runti

[2016-10-19 17:08] wemrysi opened #1608 "Report configuration errors as such when mounting MarkLogic"
Configuration and other errors encountered at MarkLogic mount-time aren't reported properly, resulting in useless `500` errors at the web api. The various failures need to be properly categorized as configuration or "environmental" errors to provide useful feedback to users.

[2016-10-19 17:10] jedesah opened #1609 "Upgrade to scalacheck `1.13.1`"
`scalaz` has now finally upgraded to scalacheck `1.13.x` which should mean that we can do the same.

We should do this sooner rather than later in order to avoid incompatibilities with other libraries like `refined` as pointed out [over here](https://github.com/fthomas/refined/pull/128#issuecomment-254636310)

[2016-10-19 17:11] jedesah commented on #1609
I'll do this once I get back to the office because in my experience this kind of thing may require multiple full builds and I would rather not wait after my laptop compile times.

[2016-10-19 20:57] alissapajer commented on #1581
This is likely the same bug as https://github.com/quasar-analytics/quasar/issues/1560

[2016-10-19 21:19] mossprescott commented on #1482
@SankarMittapally Were you ever able to get Quasar to connect to your MongoDB instance? That timeout usually just means you have the wrong host or port, or mongo isn't actually running. If you give me some more details I might be able to help.

[2016-10-20 01:17] drostron opened #1612 "Towards a more expressive representation of file existence"
Connectors differ in their ability to represent file and directory existence.

A short term solution was recently put in place where file existence is indistinguishable from an empty file. This creates confusion and suggests the need for a longer term solution.

So far discussion around this has been a bit ad-hoc. This exists as a central point to capture discussion and solutions.

[2016-10-20 01:26] alissapajer commented on #1539
A slightly better example, and one that compiles in SQL^2 (the `as` for the table alias is required).

[code]

[2016-10-20 18:47] paulp commented on #1612
There are some fundamental questions which must be grappled with.

1) Which structural elements have identity - an independent existence, a lifespan potentially longer than that which they enclose - and which ones are simply consequences?

2) Where there are opportunities for inconsistent answers, what are we going to do?

In git, there is no notion of a directory. A directory "exists" if a file e

[2016-10-20 18:53] paulp commented on #1609
This task is way bigger than you realize. It isn't enough for scalaz to upgrade to 1.13. *ALL* the dependencies have to do it.

[2016-10-21 13:43] #1575 closed

[2016-10-21 15:25] jdegoes opened #1618 "Accept application/zip files from front-end"
The front-end cannot know the type of all files inside a ZIP archive, and, indeed, there may be many types, rather than a single type. Further, by HTTP spec, the content type of the request must necessarily be the content type of the content, not the content of files inside the decoded content.

For these reasons, the backend will need to encode and decode whatever metadata it requires into and ou

[2016-10-21 15:26] jdegoes commented on #1618
/cc @garyb

[2016-10-21 15:49] #1603 closed

[2016-10-21 16:02] drostron opened #1619 "CB: Intermittent timeouts in Travis"

[2016-10-21 16:28] drostron opened #1621 "CB: Handle error responses from CB"
Currently some error responses from CB are ignored. These should be intercepted and turned into appropriate Quasar errors.

[2016-10-21 16:45] wemrysi opened #1622 "QScript for Filter with Reduce or multiple projections attempts ProjectIndex excessively"
Queries involving a `Filter` and a `Reduce` or a `Filter` and multiple projections results in QScript that attempts to `ProjectIndex` too far into the data from the backend. Included is an example of the former as it is more focused (to trigger the latter, a query such as `select city, loc from /explain/data where pop > 15000` suffices, but the output is about twice as long).

Interestingly, proje

[2016-10-21 17:03] jedesah commented on #1609
Perhaps, but I remember going through the exercise once and coming to the conclusion that `scalaz` was the only dependency blocking us from upgrading to the latest version of `scalacheck`. I even vaguely recall documenting that fact, but it looks like I am either mis-remembering or someone deleting my comment in the dependencies file.

Also, I never said it would be easy 😄 . That's precisely why I

[2016-10-21 17:03] jdegoes commented on #1622
@sellout @alissapajer Looks bad, I put this one in ASAP.

[2016-10-21 17:07] paulp commented on #1609
Yeah - at the very least wait until matryoshka publishes new artifacts against current scalacheck. You need it anyway, and I had to deal with a subset of the problems you would face here over in https://github.com/slamdata/matryoshka/pull/36 .

[2016-10-21 18:57] wemrysi opened #1623 "Distinct + Order results in a MatchError when converting LogicalPlan to QScript"
The query `select distinct city from zips order by pop desc limit 5` (from `it/src/main/resources/tests/citiesByLargestZip.test`) results in a `MatchError` in `Transform#lpToQScript`.

It looks like the `distinct` + `order by` is what causes it as I tried `select distinct city from zips` and `select distinct city from zips limit 5` and both of those work.

[2016-10-21 19:54] mossprescott commented on #1618
It seems like the zip format has some support for metadata, but it’s not very well specified, so I think it's probably safer to add the suggested magic dot-file with the information we need.

So here's the plan:

- [ ] make sure `Content-Type` is `application/zip` in both directions.
- [ ] add `.quasar-metadata.json` at the root of the zip archive, containing whatever additional info is needed to

[2016-10-21 20:31] jdegoes commented on #1618
This could provide a path to saving / restoring mounts, too.

[2016-10-22 00:21] wemrysi opened #1625 "Fuse multiple FLWOR expressions"
Multiple QScript nodes are implemented as XQuery FLWOR expressions, in many cases these can be consolidated into a single expression and avoid traversing the dataset multiple times.

[2016-10-22 00:28] wemrysi opened #1626 "Make use of MarkLogic aggregation facilities for reductions"
Take advantage of the various `cts:*` apis for reductions in order to take advantage of indexes.

Should we fallback to the current impl if no index is defined? Or just error with information on which indexes the user should define?

[SQL's "Group By" the MarkLogic way](https://developer.marklogic.com/blog/group-by-the-marklogic-way) looks like a good place to start.

[2016-10-22 00:34] sellout commented on #1626
Yes – fallback if no index is defined. We shouldn’t ever error if we don’t have to. I’m working on finally weaving warnings through, so we’ll be able to message non-fatal stuff, like lack of indices.

[2016-10-22 00:36] sellout commented on #1625
This _may_ be more of a QScript issue. We should be consolidating operations as much as possible.

[2016-10-22 00:45] wemrysi opened #1627 "Leverage XPath and cts apis to improve filter performance"
XPath predicates and more filtering via `cts:search` will perform much better than the current usage of `fn:filter` everywhere, when applicable.

* [x] Add AST for `cts:query` expressions
* [x] Operation using `xdmp:plan` to test, during planning, whether an index is available for a particular field
* [ ] Partial planner for `FreeMap` to `CtsQuery`
* [x] Update MarkLogic planner to compute `XQuery

[2016-10-22 00:53] wemrysi commented on #1625
Its probably a bit of both, but I'm pretty sure there are `for` expressions that can end up nested just because we're using a different part of the FLWOR expression (i.e. mapping and then sorting, which can be done in a single FLWOR expression but currently happen in two nested ones).

We can also switch to using FLWOR for filtering for more consolidation.

[2016-10-22 00:58] jdegoes commented on #1625
This looks like a big-oh issue for sure. Unless the MarkLogic optimizer is a LOT smarter than I think it is.

[2016-10-22 17:25] mossprescott commented on #1619
Caught this one yesterday:

[code]

[2016-10-23 23:27] paulp opened #1630 "SimplifyJoin"
These are all the ways SimplifyJoin is used outside the file in which it is defined. Is there any difference among them? It looks like everyone is calling `shiftRead(qs).transCata(SimplifyJoin[...] simplifyJoin idPrism.reverseGet)` and possibly more. That's a complicated expression to be living four disconnected lives.

And isn't`idPrism.reverseGet` just `reflNT`? Is it written that way by analogy

[2016-10-23 23:57] sellout commented on #1630
Yeah, hoepefully we’ll get to the point where we actually just do one transformation here, and it composes ShiftRead/SimplifyJoin, etc. at the algebra level, but the way things are now, I think encapsulating these transformations (like @jedesah did for `shiftRead`) is the way to go.

And yes – `idPrism.reverseGet` is `reflNT`. In `Rewrite`, we pass around the whole prism or either half as necessar

[2016-10-24 12:08] rabbitonweb commented on #1590
https://github.com/quasar-analytics/quasar/pull/1597

[2016-10-24 12:12] rabbitonweb commented on #1259
The last missing  `Extract` is in the https://github.com/quasar-analytics/quasar/pull/1595

[2016-10-24 12:16] rabbitonweb commented on #1258
Sort is being implemented in https://github.com/quasar-analytics/quasar/pull/1596

[2016-10-24 12:41] rabbitonweb opened #1631 "Issues with GROUP BY queries"
At this moment hard to tell if it is an issue behind QScript or SparkCore implementation.

Some GROUP BY queries work like:

```select city from`patients.json` group by city```
```select max(weight) from`patients.json` group by city```

Other fail with an infinite calculations. Examples are:

```select city from`patients.json` group by city order by city```

```select max(weight), city from`patien

[2016-10-24 14:07] sellout commented on #1631
It helps a ton if you can include the QScript that was produced.

Looking at the queries, I notices that the first failing query uses an `order by`, which currently generates bad provenance in some instances (but should evaluate to undefined), and the second has a join, which also sometimes has issues.

[2016-10-24 14:59] rabbitonweb commented on #1631
Thing is I can not get to the point where QScript can be generated. It fails to run `Explain`. It just runs there until stack is overloaded

[2016-10-24 15:06] #1623 closed

[2016-10-24 16:02] alissapajer commented on #1539
Note to self: this query should be an integration test if it's not already.

[2016-10-24 17:29] sellout opened #1633 "Make `skeleton` connector fail gracefully."
Right now the skeleton connector (I think) uses `???` for everything, which means catastrophic failures. We want it to fail gracefully, so we don’t lose things like PhaseResults when a query is unsuccessful.

This will make it easier to incrementally implement a connector[†], as well as to make queries against a skeleton mount to get LP, QScript etc. output, when running the same query against a r

[2016-10-24 19:12] rabbitonweb opened #1634 "Replace "input" functions in spark-core with algebras so connectors can write interpreters for them"
For example `readfile` in spark-core defines `Input` as

[code]

`readfile` uses that `Input` while connectors implement methods of this class.

Better approach would be to define algebra that will represent `rddFrom`, `fileExists` & `readChunkSize` and let connectors write interpreter for that algebra.

[2016-10-24 20:04] alissapajer commented on #1556
Related to #1539 in that an improved representation of the combine func in logical plan will also be a useful as a representation of the join condition.

[2016-10-24 22:17] sellout commented on #1631
Ok, here is the QScript from the first failing query(`select city from zips group by city order by city`):
[code]
The one thing here that looks wrong to me is that it’s failing to unify the two reductions. For some reason it duplicates every value, then one reduction operates on the first and one operates on the second, so they _look_ like different reductions. I’m not sure why the duplication is

[2016-10-24 22:19] sellout commented on #1631
BTW, I edited the QScript a bit to make it somewhat more compact.

[2016-10-24 22:25] sellout commented on #1631
And … it looks like the other query has the exact same problem. This is definitely a QScript bug, but I _think_ the QScript as generated should work.

And I should have pasted the second one instead, as it’s a bit simpler 😉

[2016-10-24 22:33] jdegoes commented on #1631
@sellout Any non-trivial demo, unfortunately, will generate a query in this form.

[2016-10-24 22:34] sellout commented on #1631
@jdegoes Yeah, I’m fixing it now.

[2016-10-24 22:34] jdegoes commented on #1631
🙏

[2016-10-24 22:51] drostron commented on #1295
[code]

[2016-10-24 22:52] wemrysi opened #1637 "Multiple reductions result in the first duplicated"
A query involving `k` reductions results in `QScript` where the first reduction operation is duplicated `k` times.

**`select max(pop), min(city) from /explain/data where length(city) < 6`** (i.e. `filterByJsWithOnlyReducing.test`)

[code]
[code]

[2016-10-25 00:18] jdegoes commented on #1637
😭

[2016-10-25 01:59] sellout commented on #1637
@wemrysi Once again you’ve found a bug just after I fixed it locally 😆 This one was a simple typo, effectively `func1 ++ func1` rather than `func1 ++ func2`.

PR on its way.

[2016-10-25 05:17] sellout commented on #1631
Sorry, my previous comments were incorrect. I ran the queries on an outdated branch. Here is the QScript on master + my fix to #1637 (which may fix whatever was underlying this – but it still should have been an executable plan). This time it’s from the second failing query, since it’s shorter.

[code]

[2016-10-25 05:37] sellout commented on #1631
@rabbitonweb Try these again with #1640 (or wait until it’s merged), and see how they work. The QScript looks correct to me. Although, I think they should have run before #1640 (just returning the wrong values), so I don’t have high hopes.

[2016-10-25 06:01] sellout commented on #1541
I think this works as of #1640. The QScript looks right to me, but we’ll have to test it on MarkLogic (or something) to verify.

[2016-10-25 08:32] rabbitonweb opened #1641 "Put XMLChar in some other package so no conflicts with xerces dependency"
`XMLChar` was copied from `org.apache.xerces`. This require spark-hdfs to exclude that dependency.
Better approach would be to change package signature of `XMLChar` from `org.apache.xerces.util` to `ext.org.apache.xerces`

[2016-10-25 13:44] jdegoes commented on #1541
@sellout I added an `ORDER BY`, `OFFSET`, `LIMIT` too, just to make it more representative of the type of query the front-end would generate.

[2016-10-25 14:45] #1526 closed

[2016-10-25 15:14] sellout commented on #1541
So, I _think_ this new query also works (although it’s difficult to tell until #1628 is merged … or until it’s tested on a connector).

[2016-10-25 16:15] wemrysi opened #1642 "Support map keys that aren't valid QNames in MarkLogic"
The MarkLogic planner can't currently handle field names/aliases that aren't valid QNames which causes problems with the default numeric field aliases and any user-defined names that don't fall into the QName category.

The most promising idea for solving this thus far is to use an XML attribute to store the field name when it isn't a valid QName. This will require the planner for `ProjectField` t

[2016-10-25 17:56] jdegoes commented on #1541
@sellout Then let's get #1628 merged as it will enable minimally functioning connectors! 😄

[2016-10-25 18:01] sellout commented on #1541
#1628 is merged, but that just shows us the plan in a readable way – I gotta get #1640 merged now …

[2016-10-25 21:46] #1637 closed

[2016-10-25 21:47] sellout commented on #1631
@rabbitonweb Ok, #1640 has been merged now, so could you try these queries again?

[2016-10-25 21:50] sellout commented on #1541
@wemrysi Now that #1640 is merged, could you try this query on MarkLogic? I _think_ the plan is correct at this point.

[2016-10-25 23:55] wemrysi commented on #1541
I made a minor modification to the query to sort `max DESC` for a bit more interesting output and got

`{ "state": "NY", "count": 3, "sum": 317987, "avg": 105995.666666667, "min": 100027, "max": 111396 }`

so :+1:

[2016-10-26 00:13] jdegoes commented on #1541
@sellout It'd be nice to codify this in a test so we can ensure that it won't regress.

[2016-10-26 22:23] drostron opened #1648 "CB: ListContents doesn't show bucket when empty"

[2016-10-26 22:30] drostron opened #1649 "CB: Unable to rename bucket via Move"

[2016-10-26 23:39] drostron opened #1650 "CB: Enable SlamData pivot table dimensions"
SlamData's pivot table dimensions feature generates queries that lead to QScript containing the currently unimplemented `Arbitrary` (#1601) and `ConcatMaps` (#1600 ) terms. Also hitting #1654.

[2016-10-26 23:41] sellout commented on #1650
Oh, most `group by` queries are probably going to contain `Arbitrary` (although, not if I make the change I had proposed recently). But, `Arbitrary` should be easy to implement – any operation that selects one of the elements should work. If there is a `first` operation, for example, that is valid (and it’s what we do on Mongo).

[2016-10-26 23:42] sellout commented on #1650
ConcatMaps … I’d like to see what the queries generating that look like. It’s definitely possible, but it _may_ be a case where LP or QScript could do something differently along the way (in general, we moved toward arrays and away from maps for temp structures).

[2016-10-26 23:46] alissapajer opened #1651 "remove `Fix` constructors for `LogicalPlan`"
For example

[code]

should be removed, and

[code]

should be renamed to `Constant`.

[2016-10-26 23:52] drostron commented on #1650
Yes, `Arbitrary` will be straightforward, but `ConcatMaps` is a prickly one for N1QL.

Query:
[code]

QScript:
[code]

[2016-10-26 23:52] alissapajer opened #1652 "remove implicit `Fix` embedding in tests"
In some [test helpers](https://github.com/quasar-analytics/quasar/blob/master/sql/src/test/scala/quasar/sql/helpers.scala#L73) we have

[code]

Remove this implicit as it doesn't make tests any simpler, and instead makes them more complicated because they compile magically even when you forget to `embed`.

This will require improving our test helpers to easily and readably embed into `Fix` in test

[2016-10-27 00:11] sellout commented on #1650
Ah, I see – this could potentially be eliminated by better normalization around `Sort` (pulling the `ConcatMaps` to the top level of the outermost `Map`), but I’m not sure there’s a variation that is clearly more optimal in this case.

However, I’ve also been considering making `MakeMap` hold more than just one entry, so things that are currently `ConcatMaps` will just be a single `MakeMap`, and `

[2016-10-27 14:15] drostron opened #1654 "CB: Plans containing `Sort` produce invalid N1QL"

[2016-10-27 16:32] rabbitonweb commented on #1631
This works now! Awesome!

[2016-10-27 16:32] #1631 closed

[2016-10-27 16:33] rabbitonweb commented on #1590
Done

[2016-10-27 16:33] #1590 closed

[2016-10-27 17:11] drostron opened #1656 "CB: Single PhaseResult for N1QL generation"

[2016-10-27 17:15] drostron opened #1657 "CB: Verify sufficient version"

[2016-10-27 19:52] wemrysi commented on #1642
Microsoft came up with an [encoding](https://msdn.microsoft.com/en-us/library/35577sxd(v=vs.100).aspx) that might be worth considering.

[2016-10-28 08:07] rabbitonweb opened #1658 "Add Avg implementation to spark-core"
`Reduce` is missing `Avg` in spark-core.

[2016-10-28 13:13] rabbitonweb opened #1659 "Clean Planner in spark-core grew out of proportion"
`Planner.scala` in spark-core grew out of proportion & should be divided into small chunks where each `Planner` typeclass instance will get its own file.

Some refactoring needed for few instances (e.g Reduce is doing pre- & post- processing and that is currently obscure for a developer to understand)

[2016-10-28 16:51] rabbitonweb commented on #1658
Implementation provided in https://github.com/quasar-analytics/quasar/pull/1660

[2016-10-31 15:49] rabbitonweb opened #1664 "Persisting RDD for all spark connectors"

[2016-10-31 15:50] EncodePanda opened #1665 "Better way to implement Drop & Take"
Currently `Drop` & `Take` are implemented using `zipWithIndex`. Could be probably be done better. Requires research.

[2016-10-31 15:58] rabbitonweb opened #1666 "Run spark-hdfs connector on Travis"

[2016-10-31 16:00] rabbitonweb opened #1667 "Better way to deal with Spark-MongoDB dependencies conflicts"

[2016-10-31 16:41] drostron opened #1668 "CB: Result set field order not supported by N1QL"
Some connectors such as Couchbase are unable to specify field order for results. We need a way to either specify field order as result metadata or offer a way to relax it per connector rather than across the board.

This has spread to a few query integration tests already and should be solved before unnecessarily ignoring field order in an increasing number of tests.

[2016-10-31 17:27] jdegoes commented on #1668
For now, this could be a per-backend setting. Ultimately we want to solve it by post-processing results but we don't have the machinery to easily / performantly do that now.

[2016-10-31 18:29] drostron opened #1669 "QScript generation slow for a many column pivot table query"
QScript generation for the following query takes about a minute.

[code]

Noticed while testing the Couchbase connector with a pivot table of 7 columns and a single dimension.

[2016-10-31 18:57] #1600 closed

[2016-10-31 19:04] #1594 closed

[2016-10-31 20:42] #1654 closed

[2016-10-31 20:42] #1650 closed

[2016-10-31 21:37] jdegoes commented on #1612
I do think metadata is important. The MRA model supports metadata, and ideally the file system is no more than a set-oriented view of the MRA data.

[2016-10-31 22:29] alissapajer commented on #1295
[code]
from
[code]

[2016-10-31 22:43] drostron commented on #1619
Since increasing `indexMemoryQuota` there have been no timeouts.

[2016-10-31 22:43] #1619 closed

[2016-10-31 23:29] alissapajer commented on #1295
Would anyone object if each of these test failures were its own issue? Then they can be assigned and closed when fixed. We can tag them under the label "Build". (Or if that was meant for something else, a new label.)

[2016-11-01 22:35] paulp commented on #1295
@alissapajer All the ones which can be associated with a cause should certainly have their own ticket. I opened this one primarily because we were (and still are to some extent) plagued with failures without a known cause, like timeouts where nothing is logged and it's not even clear what was happening at the time.

[2016-11-02 16:02] EncodePanda opened #1672 "Support Orc file format"

[2016-11-02 16:02] EncodePanda opened #1673 "Support Avro file format"

[2016-11-02 16:03] rabbitonweb opened #1674 "Support Parquet file format - Phase 1"
- [x] support primitive types
- [x] support documented logical types
- [x] support undocumented logical types
- [x] implement ParquetRDD
- [x] bind ParquetRDD to readfile & queryfile

[2016-11-02 16:04] rabbitonweb opened #1675 "Provide new connector: spark-elastic"
- [x] Running Elastic connector (runnable in UI)
- [x] Create workspaces
- [ ] Integration tests 100% passing
- [x] Spark cluster configurtion (memory, executors, etc)
- [ ] Deal with illegal chars in ElasticSearch (white spaces, leading _ etc.)
- [x] Ability to configure ES parameters (host & port)

[2016-11-02 16:05] rabbitonweb opened #1676 "Provide new connector: spark-cassandra"
Provide connector that allows to connect Quasar to Cassandra via Apache Spark

[2016-11-02 21:07] alissapajer opened #1677 "scalaz.Equal for LogicalPlan"
Create a `scalaz.Equal[LogicalPlan]` and delete all `override def equals` methods.

[2016-11-02 21:09] alissapajer opened #1678 "scalaz.Equal for Sql"
Create a `matryoshka.Delay[scalaz.Equal, Sql]` and delete all `override def equals` methods.

[2016-11-02 23:31] alissapajer commented on #1295
Confirming the  race condition in argonaut still exists as of b7b6ea2041b77398772d1858e572b7f5768c4a3a.

[2016-11-03 17:09] drostron commented on #1295
[code]

[2016-11-03 18:22] wemrysi commented on #1622
@sellout @alissapajer As an update, fixing the MarkLogic planner to preserve `Undefined` values in arrays does allow the query to execute correctly.

However, maintaining all the extra, unused information has a pretty big performance impact currently. The XQuery generated by the above plan takes ~28.5s to execute whereas if I take the same XQuery and just remove the `Map` that creates all the addi

[2016-11-03 19:12] alissapajer commented on #1622
@wemrysi good to hear that the query is executing correctly, but obviously the performance is not acceptable. Thanks for the update.

[2016-11-03 20:01] #1291 closed

[2016-11-03 20:34] #1678 closed

[2016-11-04 17:05] #1677 closed

[2016-11-04 17:09] alissapajer commented on #1556
This ticket will be complete when we have a first  class representation of joins in `LogicalPlan`. This ticket is not a high priority and so will be put off until later.

[2016-11-04 17:17] alissapajer commented on #1669
When #1622 is fixed, it will be worth checking the timing on this example again. That ticket will remove large chunks of unused QScript, which would definitely be a possible cause of slow QScript compilation.

[2016-11-04 18:50] #1648 closed

[2016-11-04 20:00] alissapajer commented on #1550
@sellout wondering if this ticket could be broken into multiple tickets.

This ticket was partially completed with the merging of #1592, which reifies only the provenance information that is needed past the compile phase.

So I'm thinking, perhaps it makes sense to close this ticket since #1592 is merged, and then add new tickets giving the details of the remaining provenance simplification work?

[2016-11-07 17:41] drostron opened #1688 "QScript missing constant array for `projectFromConcattedArray.test`"
While looking at enabling `projectFromConcattedArray.test` I noticed that `[1, 2]` is missing from the generated `QScript`.

SQL²:
[code]

lp:
[code]

QScript:
[code]

[2016-11-07 17:45] wemrysi commented on #1688
What looks like is happening is that the `ProjectIndex(_, 1)` is being applied to the constant array `[1, 2]` (resulting in `2`), instead of being applied to the concatenation of `(loc || [1, 2])`.

[2016-11-07 19:07] alissapajer commented on #1688
Hm, yeah, It looks like the array concat is getting lost in the QScript compile. To confirm the indexing, we could change `(loc || [1, 2])` to `(loc || [11, 13])` and then verify we get a result of `13`.

[2016-11-07 22:36] #1502 closed

[2016-11-08 17:30] EncodePanda opened #1689 "Investigate if the way average is being calculated on spark connector does not loose precision"
Details in https://github.com/quasar-analytics/quasar/pull/1660#discussion-diff-86447144R221

[2016-11-08 17:39] sellout commented on #1689
Yeah, this change _should_ be trivial, I think – just gotta change `Data.Arr(List(Data.Dec(s1 + s2), Data.Int(c1 + c2)))` to `Data.Arr(List(Data.Dec((s1 * c1 + s2 * c2) / (c1 + c2)), Data.Int(c1 + c2)))` and remove the division from the post-processing (but still need the post-processing to throw away the count).

The trick is figuring out how it affects performance and precision 😄

[2016-11-09 22:47] wemrysi opened #1690 "FLWOR fusion for ThetaJoin when both branches consist only of mappings over a common src"
When both branches of a `ThetaJoin` are FLWOR expressions representing a mapping (i.e. no filtering or sorting) over the data emitted from `src` they can be fused into a single FLWOR expression.

[2016-11-11 01:04] wemrysi opened #1693 "Attempt to order by singleton array instead of single value"
The following query results in a plan that attempts to sort by `[population]` instead of just `population`

**`select city, state, sum(pop) as population from zips group by city, state order by population desc limit 5`**

[code]

[code]

Looks like the `MakeArray(MakeArray(ReduceIndex(7)))` in the `repair` expression and the `ProjectIndex(_, 3)` in the `Order` don't agree.

[2016-11-11 17:22] #1625 closed

[2016-11-11 19:20] wemrysi commented on #1693
Here's another example that doesn't involve a reduce (from `filterSortLimit.test`)

**`select * from zips where city like "BOU%" order by pop limit 10`**

[code]

[code]

[2016-11-11 20:11] wemrysi opened #1694 "Multiple sort keys coalesced into a single array"
Specifying multiple sort keys appears to result in sorting by a single array comprised of the individual keys, forgetting the individual sort dirs.

**`select city, pop from zips where pop > 90000 order by city, pop desc, state desc`**

[code]

[code]

[2016-11-11 20:22] wemrysi opened #1695 "Query involving 'LIKE' results in a scalac MatchError"
Attempting to run the query with variables specified in the `likeWithConstantFoldablePattern` regression test results in a Scala `MatchError` at `MapFunc.scala:749`.

[2016-11-11 20:41] alissapajer commented on #1695
Just confirmed that we are missing the match case for `Like`. This should be a quick fix.

[2016-11-11 23:54] alissapajer commented on #1695
Quick update: the `Like` from `LogicalPlan` should be getting converted to a `Search` node. This appears to be happening in the REPL but not in the integration test.

[2016-11-14 00:01] damonLL opened #1698 "AVG function with WHERE clause appears to confuse MarkLogic"
This may be premature considering @wemrysi isn't 100% complete with the connector, but I thought I would start logging some of the issues.  This is with latest quasar/master Nov 13th, version 13.0.30

This query works:

[code]

This query does not work:

[code]

Returns long error message, attached as file.

[marklogic-avg-where.txt](https://github.com/quasar-analytics/quasar/files/588179/marklogi

[2016-11-14 00:03] damonLL opened #1699 "MarkLogic returns no results when querying nested data"
This query returns no results, but the documents have been verified to exist.

[code]

The `explain` output for that query in the REPL is attached.

[explain-nested-query.txt](https://github.com/quasar-analytics/quasar/files/588181/explain-nested-query.txt)

[2016-11-14 16:50] alissapajer commented on #1695
@sellout this is up for grabs again - it wasn't a super quick fix and I'm in the middle of other work.

[2016-11-14 17:48] alissapajer commented on #1651
This should have been closed when https://github.com/quasar-analytics/quasar/pull/1646 merged.

[2016-11-14 17:48] #1651 closed

[2016-11-16 20:24] drostron opened #1700 "QScript generation for `caseVariations.test` is causing the test to timeout"
I am unable to get `explain` to return successfully for the same query at the REPL.

LP and QScript for a simplified version:

[code]

[2016-11-16 22:25] #1504 closed

[2016-11-17 17:07] wemrysi opened #1701 "Ability to address XML attributes in MarkLogic"
Enable projecting and predicates on XML attributes in queries against MarkLogic.

[2016-11-17 20:16] wemrysi opened #1704 "Support querying JSON documents in MarkLogic"
Adds the ability to configure the format of a MarkLogic mount as `XML` or `JSON`. Data uploaded will be stored using the configured format and queries will only operate on data having the specified format.

Combined with #1766, this allows exposing subsets of user data in multiple formats in a reasonably straightforward manner.

### Tasks
- [x] Typeclass for decoding data into various formats
- [x

[2016-11-17 21:31] #1668 closed

[2016-11-18 16:57] wemrysi opened #1706 "Treat multiple child elements having the same name as an array"
In addition to synthesized arrays and treating all children of an element as an array, we also need to treat multiple elements with the same name as an array.

If there are three child elements named `foo` and `foo` is then projected, the result should be an array of three elements.

[2016-11-18 17:15] #1503 closed

[2016-11-18 18:57] wemrysi commented on #1699
Thanks for the report, I've confirmed on current master that this is still an issue, likely due to joins.

[2016-11-18 19:03] wemrysi commented on #1698
I am unable to reproduce this on the current `master` so looks like it was fixed at some point since reporting, closing.

Via the repl:
[code]
Also, the output you saw isn't an error message, it is the physical plan (i.e. the XQuery that your query compiled to) for whatever backend you're querying.

[2016-11-18 19:03] #1698 closed

[2016-11-18 23:30] paulp opened #1707 "repl performance issue"
It appears to involve `FilesystemQueries.enumerateQuery`, which at the moment is only used by the repl.
[code]

[2016-11-21 17:14] jdegoes opened #1710 "Expose SAMPLE(d, n), NOW(), UNION [ALL]"
- [ ] `SAMPLE(d, n)` — Should attempt to retrieve a sample of N elements from the Dataset. If this cannot be done in a performant fashion, then implementation is free to return a non-random sample.
- [ ]  `NOW()` — The current date/time. This should not be converted in the LP / QS compilers, but rather pushed all the way to the physical plan. For rolling queries, NOW() will have a different interp

[2016-11-21 17:25] jdegoes opened #1711 "Treat single column, unaliased selection expressions as SELECT VALUE"
When a single projection expression appears in the SELECT clause, and that expression is not aliased, we should treat it equivalent to a SELECT VALUE, and not build a singleton object with "0" and the expression. This just confuses the frontend and it's not necessary in a system that can return sets of raw values (without any decoration in an object or array).

[2016-11-21 18:04] jdegoes opened #1712 "Modify installers project to install Quasar Spark JAR"
TODO:

- [x] Modify script to generate sparkcore.jar
- [x] Modify building scripts to include sparkcore.jar
- [x]  Either set instructions to include QUASAR_HOME or set `addJar` to place where sparkcore.jar is (some vodoo magic needed)

[2016-11-21 18:53] flosky opened #1713 "GROUP BY Query returns duplicate entries of distinct values"
I am executing this query:

`select TO_STRING(DATE_PART("year", d.created)) || "-" || TO_STRING(DATE_PART("month", d.created)) || "-" || TO_STRING(DATE_PART("day", d.created)) AS date, COUNT(*) AS cnt
from `/local/my_db/downloads` as d
where d.created >= DATE("2016-08-01")
group by TO_STRING(DATE_PART("year", d.created)) || "-" || TO_STRING(DATE_PART("month", d.created)) || "-" || TO_STRING(DATE_P

[2016-11-21 19:07] jdegoes commented on #1713
@sellout Pretty nasty issue here, please take a look when you get a chance.

[2016-11-21 19:17] sellout commented on #1713
I’ll take a deeper look shortly, but at first glance it seems like the `order by` is forcing the un-grouping, since there’s no single value for `d.created` in each group. If you change it to `order by date`, it should work, but likely not give you exactly the ordering you want, since it’ll be a string ordering.

If that works, there are other ways to iron out the details.

[2016-11-21 19:19] jdegoes commented on #1713
@sellout Good catch!

[2016-11-21 20:32] jdegoes opened #1714 "Smart Caching"
**Server-Side Cache Settings.** If cache settings can be specified by the client, and satisfied by the server, then much more consistent and broadly performant user experiences can be created. At minimum, views should be cach-able, with cache settings as supported by HTTP.

SQL<sup>2</sup> views should support cache settings modeled after the HTTP Cache-Control directive.

[code]

If a SQL<sup>2</

[2016-11-21 20:35] jdegoes opened #1715 "Statistical Structural Types: Phase A"
**Statistical Structural Types**. Having a performant, responsive means for the front-end to obtain increasingly accurate statistical information about the structural characteristics of a data set will enable much improved user-experiences, and improve the fidelity of front-end experiences that currently rely on a (non-random) sample of a small number of values from a data set.

Statistical struct

[2016-11-21 20:37] jdegoes opened #1716 "Basic Query Analysis"
**Query Analysis**. Users have no idea the impact of their queries. Even basic query analysis could help provide sensible feedback to the SlamData user-interface, as well as the user, on whether they can expect to wait seconds, minutes, or hours; and on the load exerted on the data source by the query.

SlamData can make much better decisions if it knows how complex a query will be to execute.

*

[2016-11-21 20:46] jdegoes opened #1717 "Add META(d) function"
The `META(d)` function lifts up the metadata associated with `d` (possibly `undefined`, if there is no such metadata) into the value-level, where it may be accessed and processed like other data.

For accessing attributes on XML data (#1701), we can use `META(node).className` for example. I believe metadata on XML nodes will always be a map of string-valued keys.

Ultimately, the pattern matching

[2016-11-21 20:53] jdegoes opened #1718 "epic: Connector: Spark: Support more file formats on Hadoop"
As of Q3, Quasar can generate (RDD) Spark query plans and run inside a Hadoop environment on ordinary JSON text files. However, the core Spark connector needs to be improved in numerous ways, including:

* **Performance Improvements**. For example, avoiding JSON as an intermediate and going directly from source format into EJSON.
* **Supported File Formats**. At minimum, common file formats should

[2016-11-21 21:24] paulp commented on #1718
It would be great if [this glue](https://github.com/quasar-analytics/quasar/blob/master/marklogic/src/main/scala/quasar/physical/marklogic/ejson/jsonParser.scala) could be moved somewhere less specific to marklogic.

[2016-11-21 21:28] wemrysi commented on #1718
@paulp It absolutely should be, probably to `ejson`.

[2016-11-21 23:05] dashaub opened #1719 "support for SQL RAND() function"
Are there plans on the roadmap for adding the `RAND()` or `RANDOM()` functions? This is particularly useful for data exploration to select a small sample for exploration, e.g. `SELECT * FROM mytable ORDER BY RANDOM() LIMIT 100`.

[2016-11-21 23:14] sellout commented on #1719
I think this is useful in itself, but there is also #1710 to explicitly support sampling, which I think could be exposed in SQL² akin to `limit`: `select * from mytable sample 100`. So keep an eye on that one, too.

[2016-11-22 15:18] wemrysi commented on #1718
@paulp See #1721

[2016-11-23 05:27] paulp opened #1722 "Single point of docker"
Spread across `bin/run-travis.sh`, `scripts/startCouchbase`, and `scripts/installMarkLogic` is most or all of the logic necessary to relieve developers of the need to manage installations of these databases in order to run tests against them. In the case of marklogic and to a lesser extent couchbase, the docker logic is intermingled with travis logic; marklogic even gets into e.g. `docker build` f

[2016-11-23 17:38] jdegoes commented on #1722
I'll write this up into a more general ticket.

[2016-11-24 02:48] paulp opened #1724 "Query disappears when `foo[a]` is the left operand to AND."
This works:
[code]

Reverse the operands to `and` and it fails. It seems to lose the whole query and returns all results.

[code]
Similar queries which work correctly:
[code]
...suggesting it's specific to an indexing operation as the left operand of `and`.

[2016-11-24 14:22] rabbitonweb opened #1725 "ASC and DESC in single ORDER BY clause in Spark"
Currently Spark does not allow ordering in query where one field is sorted ASC and other is sorted DESC - it has to be either all ASC or all DESC.

This is why `quasar/it/src/main/resources/tests/largestZips.test` is skipped.

Try to find way to change spark-core code so the above test can be unlocked.[](url)

[2016-11-28 17:03] rabbitonweb opened #1728 "Unable to mount to spark-hdfs"
When trying to mount to `spark-hdfs` I get an error

[code]

The error is due to the fact that the connector file system type is `spark-hdfs`.

Also as a side note, in the UI, the `Mount type` is called `"Spark"`  - I think it should be more sth like `"HDFS (on Spark)"`

[2016-11-28 17:04] jdegoes commented on #1728
@rabbitonweb Did you mean to create this in slamdata/slamdata?

[2016-11-28 17:07] rabbitonweb commented on #1728
Moved to https://github.com/slamdata/slamdata/issues/1244

Closing.

[2016-11-28 17:07] #1728 closed

[2016-11-28 18:45] paulp opened #1729 "Eliminate usage of org.threeten.bp"
Since quasar requires java8 this library is buying us nothing except a lot of otherwise unnecessary code and error prone conversions.

One might be tempted to use implicits and convert between the various similar types, but this turns out to be a lot less trivial than one might anticipate. Just switching to `java.time` is a better use of effort.

[2016-11-28 18:47] jdegoes commented on #1729
👍 This would most likely be a 10% time project.

[2016-11-28 20:42] jdegoes opened #1730 "Containerize all the things"
The goals of this ticket are as follows:

1. **Deprecate Travis**. Rip out all the infrastructure that depends on Travis. When the ticket is complete, `.travis.yml`, if it is still utilized at all, should be a skeleton of its former self, merely calling shell scripts to build and test. This will pave the way for migrating from Travis to another CI that provides much faster, more stable builds.
2.

[2016-11-28 21:02] jdegoes commented on #1722
Superseded by #1730

[2016-11-28 21:02] #1722 closed

[2016-11-28 21:40] jdegoes commented on #1712
@rabbitonweb Don't forget about this one!

[2016-11-28 21:45] jdegoes opened #1731 "Trim bloat from assembly JARs"
Our JAR sizes have grown almost uncontrollably over time. We should use a tool to shrink them by removing classes that are never in fact used.

[2016-11-28 22:02] jdegoes opened #1732 "epic: Fallback evaluator Initial Implementation"
The fallback evaluator is a generic term used to refer to a new connector that targets the resurrected [Precog analytics engine](http://github.com/precog/platform), updated to work with the (slightly) extended data model supported by Quasar.

For purposes of this ticket, the fallback evaluator shall be a full-fledged connector, capable of storing, updating, deleting, moving, and querying JSON file

[2016-11-28 22:44] paulp commented on #1732
Thanks a lot for providing this structure.

[2016-11-29 17:16] drostron commented on #1649
Couchbase doesn't support changing the name of a bucket once created.

[2016-11-29 17:16] #1649 closed

[2016-11-29 20:57] drostron opened #1735 "CB: QScript Interval"

[2016-11-29 20:58] #1601 closed

[2016-11-29 23:50] wemrysi commented on #1581
Another example, notice the `Undefined` values at the 3rd position in both of the arrays constructed in the initial `Map` over each branch which is later expected to contain the field name to project in the join condition. It also seems the join condition expects the 2nd element of the same array to be a map when it appears to be an array.

This problem manifests when the join is implicit (i.e. `.

[2016-11-30 00:28] #1693 closed

[2016-11-30 00:28] #1694 closed

[2016-11-30 21:45] drostron opened #1740 "CB: Offer bucket configuration per mount and remove default bucket requirement"
Currently the Couchbase connector relies on the default bucket existing with anonymous access. CB's Java SDK requires a bucket when issuing queries. We should verify that it exists upon mount to avoid later confusion.

In its absence the repl offers the mildly useful `Quasar error: Passwords for bucket "default" do not match.` while the REST api offers the less useful 500 `{ "error": { "status": "

[2016-11-30 22:52] paulp commented on #1729
It turned out to be almost painless. Merged in 79ca389b33.

[2016-11-30 22:52] #1729 closed

[2016-12-01 19:12] #1706 closed

[2016-12-01 21:37] alissapajer opened #1745 "Remove unused array elements in QScript"
QScript stores provenance information in arrays. Sometimes this provenance information ultimately goes unused, meaning it can be removed from the QScript.

In the following example, only indices 2 and 3 are dereferenced from the array, meaning the array can be rewritten and the derefs can be reindexed.
[code]

[2016-12-01 21:38] alissapajer commented on #1745
This relates to #1622 in that sometimes we don't reference the excessive multiple array projections reported there, and so they can be pruned in this way. But when they cannot be pruned, that bug will still be hit.

[2016-12-01 21:42] alissapajer commented on #1622
The main example provided above will be indirectly addressed by #1745 because the excessively projected indices will be pruned since they are not used. But this bug will still be hit in queries where they are used. For example:

[code]

[2016-12-02 14:56] rabbitonweb opened #1748 "count(*) of a nested select returns incorrect results"
Bug was discovered while handling `skipCount.test` that failed for Spark.

Following query
[code]
executes correctly and gives proper results.

However query
[code]
fails

[code]

[2016-12-02 18:34] cryogenian opened #1749 "DATE_PART doesn't work for ISO_DATE"
I have a collection with following "schema"
[code]

This query
[code]
Returns nulls in first two columns for every date before 1970.

[2016-12-02 19:34] wemrysi commented on #1641
`XMLChar` was deleted in #1720.

[2016-12-02 19:34] #1641 closed

[2016-12-02 19:46] wemrysi commented on #1419
@damonLL If this is still an issue, please file it over at [slamdata/slamdata](https://github.com/slamdata/slamdata/issues).

[2016-12-02 19:46] #1419 closed

[2016-12-02 20:02] wemrysi commented on #1633
@sellout Looks like the `skeleton` connector uses the `Empty` filesystem for everything, and not `???`, can this be closed?

[2016-12-04 23:25] alissapajer opened #1751 "CB: CouchbaseStdLibSpec failure - Strs"
quasar.physical.couchbase.CouchbaseStdLibSpec

[code]

[2016-12-04 23:27] alissapajer opened #1752 "CB: ViewReadQueryRegressionSpec failure"
quasar.ViewReadQueryRegressionSpec

[code]

[2016-12-05 17:58] rabbitonweb opened #1755 "QScript transformation for connectors that don’t have order-preserving Reduce."
rabbit [5:12 PM]
I want to discuss potential bug (check if it is a bug or feature :slightly_smiling_face: )

[5:13]
query: `select distinct city from zips order by pop desc limit 5`

[5:13]
the plan that I get first sorts, then runs aggregation

[5:14]
this is an issue for Spark because when running any `Reduce` aggregation I’m loosing order

sellout [5:15 PM]
Yeah, that's part of the semantics of

[2016-12-06 00:07] #1652 closed

[2016-12-06 01:50] wemrysi opened #1757 "Count with projection and grouping on computed field results in cross product of distinct fields and counts"
The following query results in

 l      | c      |
--------|--------|
  false |  23844 |
  false |   5509 |
   true |  23844 |
   true |   5509 |

however the expected result is

 l      | c      |
--------|--------|
  false |  23844 |
   true |   5509 |

**`select (loc[0] > -78.0) as l, count(*) as c from zips group by (loc[0] > -78.0)`**
[code]
[code]

[2016-12-06 15:34] sellout opened #1758 "`Id` Func should be removed from LogicalPlan"
`Id` wraps a Mongo-specific notion of object ID. This should be eliminated, and for queries to submit connector-specific data types, a query should be written like
[code]
(this is from “fakeObjectId.test” which converts a string to a MongoDB OID)

[2016-12-06 19:47] jdegoes commented on #1758
Related: connector-specific functions.

[2016-12-06 20:46] sellout commented on #1758
@jdegoes Is there supposed to be a link in there?

[2016-12-06 20:53] jdegoes commented on #1758
No, but there's supposed to supposed to be a link. :smile:

[2016-12-06 21:36] wemrysi opened #1759 "Executing a query to an existing file should overwrite contents"
Currently, if the results destination for a query already exists an error is raised, instead the results should replace the existing file.

This behavior isn't specified anywhere (will be remedied as part of this fix), but is the current behavior for the legacy MongoDB connector.

[2016-12-06 21:47] wemrysi opened #1760 "Non-static default field names result in an invalid QName error"
The current workaround of prefixing `_` to the default numeric field names doesn't work when the name isn't a literal number, like in the following query `select meta(*).award, count(*) from oscars group by meta(*).award`.

Ideally #1642 will be fixed first, rendering this moot.

[2016-12-07 14:53] rabbitonweb opened #1761 "Bug: Adding more then one mounting to HDFS via Spark rise an runtime"
Because of Spark API constraints there can be only one `SparkContext` per JVM.

Spark-Core needs to return error when trying to mount a second point via any spark connector (creating more then one `SparkContext)

[2016-12-07 14:53] rabbitonweb opened #1762 "Spark can not compare timestamp and dates"
Tests affected are: temporal/filterOnDate.test, complex-vars.test

[2016-12-07 14:54] rabbitonweb opened #1763 "Bug: Spark only ORDER all ASC or DESC - you can't mix"
When running a query `select * from foo order by a asc, b desc, c asc ...`, Spark connector takes first asc/desc as a hint and uses it for ordering other columns.

In other words you can either ``select * from foo order by a asc, b asc, c asc ...` OR `select * from foo order by a desc, b desc, c desc ...` but you can not mix

Test failing because of that is `largestZips.test`

[2016-12-07 15:01] rabbitonweb opened #1764 "Bug: Spark JOIN returns cartesian product instead of normal join"
Failing test: `sameFieldName.test`

Not that `PlannerSpec` covers joins and those tests are passing.
Needs further investigation

[2016-12-07 15:47] wemrysi commented on #1764
I don't this this is a Spark issue (or at least not _only_ a Spark issue) as it looks like the `QScript` plan is currently nonsensical for the query, see https://github.com/quasar-analytics/quasar/issues/1581#issuecomment-263738179 for more detail.

[2016-12-07 15:58] rabbitonweb commented on #1764
I need to go to @wemrysi & @sellout academy to improve my qscript reading skills :)

Thx for the info!

[2016-12-07 16:14] wemrysi commented on #1704
@jdegoes Is it sufficient to support queries for `JSON` xor `XML` now and then add support for heterogeneous data later, if desired?

[2016-12-07 16:51] jdegoes commented on #1704
@wemrysi Sure, especially if the user can mount fragments of the same MarkLogic database in XML or JSON, individually, such that if the database contains chunks of XML and chunks of JSON, then each can be accessed through a separate mount, with appropriate format type configuration. Is that a possibility?

[2016-12-07 16:57] wemrysi commented on #1704
@jdegoes I think they could be accessed from the same mount, but a particular query would be limited to one format or the other. Maybe by detecting the format via a basic sample of the collection during planning. So if we detect that the documents are XML, any JSON encountered in the query will (ideally) result in `Undefined` and vice-versa for XML in a JSON query.

I hadn't thought of differentia

[2016-12-07 17:04] wemrysi commented on #1704
Though, I guess one could just mount the same database multiple times with a different format specifier and just query the appropriate mount based on the format of the data known to be at a particular path.

[2016-12-07 17:33] wemrysi commented on #1704
@jdegoes Seems like the addition of a directory prefix to the connection URI (in addition to a format parameter) that would limit the view from that mount to the specified directory (which may be `/`) would allow for what you're suggesting.

[2016-12-07 17:47] jdegoes commented on #1704
Yes, rather than runtime detection which may lead to confusing errors, I'd almost rather push the problem to configuration, so when users mount MarkLogic, they choose the data type as well as the directory (defaulting to root), so they can have a homogeneous mount with specified data type.

This way, once it has been setup, it's "dummy proof". So dev or IT or someone with the know-how can setup th

[2016-12-07 17:52] wemrysi commented on #1704
Yeah, I agree re confusion, this sounds good, I'll proceed accordingly.

[2016-12-07 18:01] JeffACarr commented on #1704
Admittedly small sample size, but from what i have seen ML users use
either/or XML JSON, not both, at least thats the case with United Health
(JSON), so John's approach should be fine.

JC

On Wed, Dec 7, 2016 at 10:47 AM, John A. De Goes <notifications@github.com>
wrote:

--
*Jeff A. Carr*
*Co-Founder & CEO*
*303-717-2091*
<http://slamdata.com/>
<http://www.infoworld.com/article/3120856/open-sour

[2016-12-07 19:29] jdegoes commented on #1763
You can also investigate "negation", since (`foo asc` is the same as `negate(foo) asc`) for some definition of `negate` (which is trivial for most types but arrays not so much due to unbounded length).

[2016-12-07 23:12] wemrysi opened #1766 "Support specifying a root directory in MarkLogic mount config"
The root directory will restrict operations on the mount to the specified directory and its descendants, akin to [`chroot`](https://en.wikipedia.org/wiki/Chroot) on *nix systems.

[2016-12-08 21:00] alissapajer opened #1768 "Represent QScript buckets as an array of `FreeMap`"
Currently QScript nodes provide bucketing information as a single `FreeMap`, which is sometimes created from an array of provenance. Instead, we should represent the bukets as `List[FreeMap]`. This way `Nil` signifies "no bucketing", and it's more in line with how we already store provenance information.

[2016-12-08 21:05] alissapajer opened #1769 "ReduceIndex should be able to reference the bucket"
[code]

In the following qscript, the bucket of the `Reduce` is duplicated four times within the reducers. We can remove this duplication by allowing the references into the list of reducers (currently `ReduceIndex`) to also reference the bucket. For example, we could use `Option[ReduceIndex]` or have `ReduceIndex` take `Option[Int]`.

[code]

[2016-12-08 21:11] sellout commented on #1769
So, I would have _thought_ that the Reduce compaction we already do would have eliminated the duplication. Regardless, I think being able to access the bucket info directly is a good idea.

But, I think this may cause some complication with #1768. We can’t just have `None` reference the bucket, because there’s more than one FreeMap to reference (if #1768 is implemented). In that case, maybe
[code]

[2016-12-08 21:14] alissapajer commented on #1769
Or the semantic could be that `None` references the _entire_ bucket (which is an array of `FreeMap`) and we turn that into a single `FreeMap` with `ConcatArrays`.

But your suggestion is more general in that we could still `ConcatArrays` around multiple calls to `ReducerIndex` to generate the entire bucket as a single `FreeMap`.

[2016-12-08 21:19] sellout commented on #1769
Well, we couldn’t turn that into a FreeMap with ConcatArrays (or, we could, but that’s just what we do now). It would be up to the connector author to convert it into whatever their array type is … which seems like an impedance mismatch – either we should give them what we currently do, a FreeMap, and we know what that FreeMap contains, so we can project out of it freely, or we give them a Scala a

[2016-12-08 21:35] alissapajer commented on #1769
I was suggesting that we could provide a way to access only the _entire_ bucket instead of individual components of it, _if_ that was all that was necessary. Meaning, a `ReduceIndex(Some(_))` references an element of the reducers array while `ReduceIndex(None)` references the entire bucket, and we don't provide a way to index into the individual elements of the bucket.

We might need a way to inde

[2016-12-08 21:47] sellout commented on #1769
Yeah, we definitely need to access the individual elements.

[2016-12-08 21:48] sellout commented on #1769
E.g., `select city, state from zips group by city, state` would access each of the two components of the bucket individually.

[2016-12-08 21:49] alissapajer commented on #1769
Yeah my only point was what we could do if we didn't need that access. And to point out the case when we might need to access the entire bucket.

[2016-12-08 23:21] alissapajer commented on #1622
Closed with merge of #1767

[2016-12-08 23:21] #1622 closed

[2016-12-09 01:37] #1759 closed

[2016-12-09 18:05] drostron opened #1773 "Add `date_trunc` function"
A few integration tests involve queries comparing dates to timestamps. A function such as `date_trunc` is needed in order to avoid coercion that is currently assumed due to mongo behavior. PostgreSQL and a few other SQL flavors offer `date_trunc`.

[2016-12-09 18:10] drostron opened #1774 "Integration tests incorrectly compare dates to timestamps"
Queries involving a date and timestamp should not depend on coercion and instead utilize conversion in order to compare the same types.

Affected tests:
- `complex-vars.test`
- `filterOnDate.test`

Leverage #1773, #1775

e.g. The query in `filterOnDate.test`
[code]

would become

[code]

[2016-12-09 18:23] drostron opened #1775 "Add `start_of_day` function"
Required in addition to #1773 in order to support queries such as those in #1774.

[2016-12-09 21:05] alissapajer commented on #1745
Closed by merge of #1747

[2016-12-09 21:05] #1745 closed

[2016-12-11 22:05] #1630 closed

[2016-12-12 16:16] #1701 closed

[2016-12-12 16:16] #1717 closed

[2016-12-12 17:03] rabbitonweb opened #1778 "Add tests to StdLibSpec checking comparison between Date & Timestamp is incorrect"
Any comparison (LT, GT, EQ) between `Date` & `Timestamp` should return `Data.NA`

[2016-12-13 20:31] alissapajer commented on #1688
The other queries that should work are: `select (loc || [7, 8])[2] from largeZips` and `select (loc || [7, 8])[3] from largeZips`. (`loc` is an array of size 2)

[2016-12-14 11:53] rabbitonweb opened #1781 "Bug: when I unmount the connector, close function is not called"
When I unmount the connector `FileSystemDef.DefinitionResult` is not being called when using Slamdata (UI)

[2016-12-14 14:03] rabbitonweb commented on #1258
Closed

[2016-12-14 14:03] #1258 closed

[2016-12-14 14:04] #1259 closed

[2016-12-14 14:04] #1658 closed

[2016-12-14 14:31] wemrysi commented on #1781
@rabbitonweb Would you mind removing SlamData from the equation and testing using the HTTP API directly to delete a mount and see if the problem persists?

[2016-12-14 15:11] rabbitonweb opened #1782 "Add ability to configure SparkContext for Quasar users"
We need to add ability to give our users way to configure connection with Spark. Right now it is available only via environment variables, but we might have clients willing to keep that configuration internal (within the quasar).

This requires some discussion on how we are going to achieve that.

[2016-12-14 15:28] rabbitonweb commented on #1762
It was not a bug, but a feature :)

[2016-12-14 19:12] rabbitonweb opened #1783 "Generated QScript for query could omit join"
Given query:

[code]

produces QScript with a `Join` in it. That `Join` could be omitted with `LeftShift`

[2016-12-14 19:49] sellout commented on #1749
Does `select *` show reasonable values for the “dt” field?

If you’re inserting using `ISODate` on any version of Mongo we support (2.6+), it should have no problem storing values from before 1970. But calling `date_part("year", dt)` should be translated to simply `{"$year": "$dt"}` or `dt.getUTCFullYear` (depending on which of Mongo’s languages end up being generated).

It seems we don’t have any

[2016-12-14 20:01] sellout commented on #1724
This works in the Mongo QScript planner, so I’m annotating it to remind me to close it when that switches over.

[2016-12-14 20:15] sellout commented on #1713
Looking at your query again, I feel like it could be simplified to:
[code]
the problem with the previous one (as I said in my previous comment) is that you were grouping by something that’s different by what you’re ordering by, so the compiler had no choice but to keep _all_ of the `d.created` values that end up in one bucket, and then unwind that bucket to individual values again when you ask it

[2016-12-14 20:55] jdegoes commented on #1713
@sellout Should this be closed or is there work that remains?

[2016-12-14 22:43] sellout commented on #1713
Ah, I suppose I can close it and leave it to @flosky to reopen if it’s still an issue for them 👍🏾

[2016-12-14 22:43] #1713 closed

[2016-12-14 23:47] drostron opened #1784 "CB: Remove unnecessary date/time guards"
See: #1774

[2016-12-15 06:36] jdegoes commented on #1782
It should be via the mount API, like all connector-specific configuration.

[2016-12-15 09:55] flosky commented on #1713
Yes, no problem. I will have to update my Slamdata/Quasar setup to the latest version and try again. Probably just around xmas when I have more time.
Thanks for the help.

[2016-12-15 18:05] alissapajer commented on #1757
@wemrysi is this query a pre-existing test in quasar? Or did you write it separately? I haven't been able to find it anywhere in our test suite. Asking so I know if there is a test I should be enabling, or if we need a new test.

[2016-12-15 18:33] drostron opened #1786 "CB: N1QL Key Join"

[2016-12-15 18:41] drostron opened #1787 "CB: Identify and address low-hanging fruit performance bottlenecks"
- [ ] Perform benchmarking and investigation necessary to have answers for slow performance encountered when using SlamData against the Couchbase connector
- [ ] Address any low-hanging fruit performance bottlenecks

[2016-12-15 18:46] wemrysi commented on #1757
@alissapajer This particular query isn't a pre-existing test, but it looks like the one in `projectIndexFromGroupWithFilter.test` exhibits the same behavior.

[2016-12-15 19:03] drostron commented on #1656
Addressed in #1770

[2016-12-15 19:03] #1656 closed

[2016-12-15 19:16] alissapajer commented on #1769
Another illustrative example is
[code]
where
[code]
is duplicated many times.

[2016-12-15 21:41] #1688 closed

[2016-12-16 07:43] akkirajub opened #1790 "Hyphen "-" in key names"
Currently there is no way to place a key with a hyphen in it's name as part of Select list.  Hyphen by default means 'minus' in ANSI SQL and so it should be treated as minus.  However, given that MongoDB supports  an hyphen to be part of a field name (like first-name)  there has to be a way to specify that in Quasar SQL.

Example :  Following does not work
SELECT c.first-name FROM "/users" c  WHER

[2016-12-16 14:00] jdegoes commented on #1790
You can use backticks, which will escape all characters, e.g.

[code]

[2016-12-16 15:39] jdegoes opened #1792 "Add SQL2 Functions — AKA Parameterized Views (DRAFT)"
Currently, views may contain holes (variables), but these must be fully specified at creation time. Any attempt to update the values in the holes results in updating the view. This usage workflow is good for some purposes but wholly inadequate for interactive dashboards designed to be used by lots of users.

To address these problems, we need to introduce parameterized views, which are views that

[2016-12-16 15:39] jdegoes commented on #1792
@beckyconning Please review.

[2016-12-16 16:13] sellout commented on #1790
There are some other syntactic bits that won’t work in the current version of Quasar. Try this version of your query:
[code]
We use double quotes for strings, backticks for identifiers, and single quotes for character literals.

[2016-12-16 17:44] alissapajer opened #1793 "PruneArrays for non-LeftShift arrays"
Currently we only look for arrays produced by the `repair` in a `LeftShift`. We can generalize this to also look for arrays in other `MapFunc`s, for example in the `repair` of a `Reduce`.

 Consider the qscript in #1757 as an example.

[2016-12-16 17:47] alissapajer opened #1794 "PruneArrays for ThetaJoin"
Consider the qscript in #1757 as an example.

Both `LeftSide` and `RightSide` branches are arrays, which are dereferenced in the `combine` (or in other examples the `on`) of the `ThetaJoin`. We can perform array pruning in this case, removing unused elements from the arrays and reindexing the derefs.

[2016-12-16 17:55] alissapajer commented on #1539
This requires a first-class representation of joins in `LogicalPlan`. That way we can reference the left and right sides separately, even though they may be the same dataset.

[2016-12-16 18:49] alissapajer commented on #1539
Pertinent self-join information is currently being held in let-bindings in the logical plan, which we elide in QScript.

[2016-12-17 04:14] akkirajub commented on #1790
Oh. I missed that. Thank you both.  I thought I tried all combination.  False alarm. Sorry about it.

[2016-12-19 18:59] alissapajer commented on #1768
Upon further thought, the bucketing information `FreeMap`s are semantically combined with "and" and their order doesn't matter. So really, I think we can use an unordered data structure where each element is distinct.

For example the buckets: `Array(ProjectIndex(src, 0), ProjectIndex(src, 0))` will produce the same bucketing information as `Array(ProjectIndex(src, 0))`.

When the initial array (o

[2016-12-20 03:35] sellout commented on #1783
To add a bit to this – the LP -> QScript conversion will insert a join at some point, with most of the projections on one side and the shifted `codes[*]` on the other.

This is exactly what LeftShift is designed to handle. I _think_ this can / should be handled in `unifySimpleBranches`.

[2016-12-20 13:02] beckyconning opened #1797 "Cache discovery information."
Currently when discovery is used (rather than a full OIDC provider record including JWKs being provided in config) Quasar uses discovery to get the keys every time it needs to verify a token / return providers.

Instead this information should be cached after discovery.

[2016-12-20 15:28] sellout opened #1798 "Evaluate LogicalPlans with no data reference"
We short-circuit LPs that simplify to a constant, so they never touch a connector.

However, with nullary functions, like `Now()`, it’s possible to have a plan that can’t be simplified, but _can_ be evaluated without a connector.

E.g. `select now() from zips` should return a single value that is the current timestamp. `zips` gets eliminated from the plan. (In fact, `now()` by itself is a valid eq

[2016-12-20 16:05] wemrysi commented on #1797
@beckyconning Would you mind filing this over at [slamdata/quasar-advanced](https://github.com/slamdata/quasar-advanced/issues)?

[2016-12-20 16:05] #1797 closed

[2016-12-20 17:30] sellout commented on #1749
Found this comment: `// FIXME: should be some negative value (this will miss any date before 1970)` while looking for the culprit 😄

[2016-12-21 00:17] wemrysi commented on #1797
I went ahead and moved this over to slamdata/quasar-advanced#143

[2016-12-21 01:54] sellout commented on #1749
This was an easy fix, and only affected old Mongo (although it _could_ affect new Mongo at some point). But the bug was in our aggregation pipeline type checking.

[2016-12-21 01:55] sellout commented on #1749
I also added tests in the StdLibSpec to deal with pre-1970 dates, which identified a similar bug (also fixed) in MarkLogic Interval handling.

[2016-12-21 02:12] sellout commented on #1711
So, I agree with this in principle. I’ve made the changes and my one concern is with Mongo’s inability to return non-Map results. So, until the fallback evaluator is in place, Mongo is going to be returning `{ "value": <result> }` instead of just `<result>`. And that at least makes regression tests a bit more of a pain.

So, if anyone has a solution … it’d be helpful.

[2016-12-21 19:58] #1248 closed

[2016-12-21 19:58] #1249 closed

[2016-12-21 19:58] #1250 closed

[2016-12-21 19:58] #1246 closed

[2016-12-21 19:58] #1247 closed

[2016-12-21 19:58] #1251 closed

[2016-12-21 21:47] jdegoes commented on #1711
@sellout Sounds like you solved this for now (magical unwrap 😄 ).

[2016-12-22 14:06] javadev opened #1801 "..."

[2016-12-22 14:07] #1801 closed

[2016-12-22 18:54] #1482 closed

[2016-12-22 19:17] jdegoes opened #1802 "Add TYPEOF function"
I couldn't find an issue for this (possibly due to limitations of Github search).

 * `TYPEOF({} @ {"_ejson.type": "identity"}) = "identity"`

Otherwise:

 * `TYPEOF(true) = "boolean"`
 * `TYPEOF(1) = "integer"`
 * `TYPEOF(1.3) = "decimal"`
 * `TYPEOF(null) = "null"`
 * `TYPEOF("foo") = "array"`
 * `TYPEOF([]) = "array"`
 * `TYPEOF({}) = "map"`
 * `TYPEOF(undefined) = undefined` (i.e. normal undef

[2016-12-22 21:22] sellout opened #1803 "Bad sort on distinct of single field"
`select distinct city from zips order by city`

MongoDB jumps through some hoops to duplicate the sort from before the distinct to after the distinct, and only in this case (where there’s a single field projected without an alias) does it get it wrong.

[2016-12-23 04:30] #1757 closed

[2016-12-23 17:32] jdegoes commented on #1560
@sellout This is listed as in progress. Is that actually true? 😄

[2016-12-23 17:33] jdegoes commented on #1581
@sellout This is possibly the same bug as #1560, and is also listed as in progress?

[2016-12-23 18:05] jdegoes opened #1804 "Quasar issue compiling lengthy query"
[code]

[code]

[2016-12-23 20:09] sellout opened #1805 "Couchbase returns value for undefined results."
In the case where an entire record ends up “undefined”, it should be eliminated from the results. However Couchbase still returns a null.

Both the “doubleFlattenWithIntervening” and “tripleFlatten” regression tests show this behavior.

[2016-12-23 23:25] jdegoes commented on #1718
@rabbitonweb Please open up a ticket for Parquet so we can track that separately.

[2016-12-27 18:48] jdegoes commented on #1792
Technical review & final specification by @sellout

[2016-12-28 04:34] Bitomancer opened #1806 "limit not working, always return 11 result"
limit not working, always return 11 result

[2016-12-28 04:54] sellout commented on #1806
It sounds like you’re using the REPL. If you were to try `limit 5`, it should work. However, if you specify >10, you’ll always get 10 results, because that is the default value of `summaryCount`. If you set that to a higher number, you’ll get more results. You can run `help` at the REPL to see the vars/commands that are available (although I think the descriptions are lacking).

It _might_ be a go

[2016-12-28 17:18] sellout opened #1807 "Replace Data with EJson in LogicalPlan’s `Constant`."

[2016-12-28 17:20] #1541 closed

[2016-12-28 17:20] #1710 closed

[2016-12-28 17:20] #1711 closed

[2016-12-28 17:20] #1749 closed

[2016-12-28 17:21] sellout opened #1808 "Coproduct SQL² with EJson rather than using the SQL² data components"
There are ~7 `Literal` components in the SQL² AST that could be eliminated if we use EJson directly.

[2016-12-28 17:25] sellout opened #1809 "Add support for Metadata, etc. to SQL² parser"
After #1808, the parser needs to be extended to support all of EJson. The existing `MapLiteral` already supports arbitrarily-typed keys, so the only missing pieces off the top of my head are metadata and byte, but there may be others.

[2016-12-28 17:31] sellout opened #1810 "MongoDB: Encode unsupported EJson values."
We can’t store things like metadata and maps with arbitrarily-typed keys (etc.) in MongoDB directly, so we need to encode/decode them when we come across them. Perhaps something like

[code]

[2016-12-28 17:33] sellout opened #1811 "CB: Replace Data with EJson"
Need to avoid converting EJson -> Data -> N1QL, which loses some representational power.

[2016-12-28 17:36] sellout opened #1812 "MarkLogic: Replace Data with EJson"
Need to avoid converting EJson -> Data -> N1QL, which loses some representational power.

[2016-12-28 17:47] sellout opened #1813 "return results as EJson rather than Data"
This needs to touch all of the connectors, although Spark and the fallback evaluator will probably need the most changes. Initially, we can change the filesystem algebras and clients, and simply do something like `.traverse(_.anaM(Data.toEJson))` in the connectors until they are individually updated.

[2016-12-28 17:49] sellout opened #1814 "Support all of EJson."
- [ ] Replace Data with EJson in LogicalPlan’s `Constant`. (#1807)
- [ ] Coproduct SQL² with EJson rather than using the SQL² data components (#1808)
- [ ] Add support for Metadata (etc.?) to SQL² parser (#1809)
- [ ] eliminate Data from connectors and/or encode all of EJson properly (#1810, #1811, #1812)
- [ ] return results as EJson rather than Data (#1813)

Addtional useful, but not critical st

[2016-12-28 18:16] jdegoes commented on #1810
In backends that support runtime serialization to/from strings, we can also encode maps as string-keyed maps where the strings are the serialized versions of the arbitrary data values. Assumes serialization is normalized, of course, but allows very fast lookups, groups, etc.

[2016-12-29 17:32] jdegoes opened #1819 "epic: Incremental queries"
Incremental queries are a feature intended to accelerate the performance of queries by re-using previous result sets computed on a subset of data.

The primary application is analytic queries over append-only event data, a common scenario in the IoT applications for which NoSQL databases are often chosen.

While incremental query computation enable reuse of previous result sets, the process can al

[2016-12-29 23:41] #1633 closed

[2016-12-29 23:43] #1144 closed

[2016-12-29 23:46] jedesah commented on #1280
@SathishRaju Is this still an issue?

[2017-01-03 19:01] alissapajer commented on #1581
Taking some notes here about what's going on.
[code]
The condition `x.pop = y.pop` comes to us as a QScript `ThetaJoin`. Currently, we throw away all the information in that `ThetaJoin` except for the `combine`, which is some `Eq`. The problem is that the `Eq` only holds pointers (`ProjectIndex`) into the left and right branches of the `ThetaJoin`, and all reference to `pop` is contained in the le

[2017-01-03 20:41] jedesah commented on #1276
@natefaubion What DB were you using? MongoDB doesn't permit to have top-level files, so it's not possible to reproduce this problem with it. You just get an "invalid path" error.

I was able to reproduce this error with MarkLogic and it would appear as a first guess that it might be a bug with the MarkLogic implementation where the file doesn't actually get deleted even though it doesn't show up i

[2017-01-03 21:36] #1751 closed

[2017-01-04 13:59] #1657 closed

[2017-01-04 20:32] alissapajer commented on #1783
A simpler example:
[code]

[2017-01-04 20:44] natefaubion opened #1837 "Support expanded variable name syntax"
In the frontend we need to be able to naturally namespace variables, and extending the allowed set of variable name characters is probably the most conservative change. Since variables are already prefixed by `:`, could we allow any series of non-whitespace characters as a variable. That, or ```:`foo.bar baz` ``` like syntax.

[code]

Would these all not be unambiguous from a SQL^2 grammar standpo

[2017-01-04 20:48] jdegoes commented on #1837
The only unambiguous one is:

[code]

Because the others have multiple interpretations. This should probably be supported anyway so we can have variable names with spaces or other non-identifier characters.

Another alternative to "name nesting" is more "variable nesting", which would interpret `:foo` as a top-level variable, in which is contained another variable called `bar`, etc. This might be

[2017-01-04 20:52] sellout commented on #1837
Yeah, the backtick option looks like a simple change (hahaha) – just need to replace `identifierString` with `ident` in `variParser`. I don’t think it would conflict with any other productions in the grammar.

[2017-01-04 20:54] jdegoes commented on #1837
@alissapajer Can you pull this to the head of the queue? Should just take an hour or so.

[2017-01-04 20:57] alissapajer commented on #1837
@jdegoes was just in the middle of a discussion with @sellout about qscript joins - he offered to grab this ticket and do it now so I can keep working on joins

[2017-01-04 20:58] jdegoes commented on #1837
@alissapajer 👍

[2017-01-05 17:15] jdegoes opened #1839 "Support creation of ranges"
SQL<sup>2</sup> has no way to create ranges yet for numerical and temporal values.

There is some missing SQL<sup>2</sup> syntax for [integral ranges](https://slamdata.atlassian.net/browse/SD-1014?jql=text%20~%20%22range%22) that is not yet supported. With appropriate conversion functions from integers and various dates/times, this facility should work for other types. However, it won't be that us

[2017-01-05 17:27] sellout commented on #1839
Hrmm, I think ranges are supported (only for ints) … although I see them in the SQL parser, but I don’t see any tests for them.

[2017-01-05 17:29] jdegoes commented on #1839
I think ints is all we need if we have the right conversion functions.

`(1..10) * 10` produces `10, 20, 30, 40, ..., 100`, etc. This seems to be enough to generate time series and date series.

[2017-01-05 18:19] jdegoes opened #1840 "Enhance serialization / deserialization"
This ticket involves adding first-class support for `EJSON` to Quasar, and improving the ability of connectors to offer higher-performance, content-type-specific serialization/deserialization.

- [ ] Add support for `text/ejson` for input and output on all REST APIs.
- [ ] Allow connectors to return and accept a content type (such as JSON or EJSON) as a byte stream so they don't have to go through

[2017-01-05 18:21] jdegoes commented on #1840
Probably depends on #1814, #1813.

[2017-01-06 00:55] #1837 closed

[2017-01-07 18:57] alissapajer commented on #1794
Also consider the QScript unit test for
[code]
as a prime example.

[2017-01-09 22:47] #1560 closed

[2017-01-09 22:47] #1581 closed

[2017-01-10 15:02] natefaubion opened #1845 "Writes view mount config that can't be read back"
I started up with a clean `config.json` and ran a workspace (which creates view mounts). When I restarted, the config could not be parsed.

[code]

Which appears to point to this entry in the config:

[code]

May be related to the liberal variable names.

[2017-01-10 18:58] #1464 closed

[2017-01-10 19:52] alissapajer commented on #1793
We may need this in `select city, loc[*] from zips` as well. QScript is a `LeftShift` within a `LeftShift`

[2017-01-10 20:35] damonLL opened #1847 "Option to Treat a MarkLogic File as a Quasar File"
We currently assume that a MarkLogic File is the equivalent of a single document or single row in a different database.  @wemrysi and I ran into a use case where a MarkLogic File was actually a collection of many rows / documents.

This resulted in unexpected behavior when querying the Quasar File (which I believe is currently equivalent to a MarkLogic Directory)

For instance, we might expect the

[2017-01-11 21:35] #1783 closed

[2017-01-12 17:07] alissapajer opened #1851 "PruneArrays for LeftShift"
[code]
We need to examine the `struct` of a `LeftShift` for array derefs.

[2017-01-12 17:08] alissapajer commented on #1793
^^ The above `LeftShift` example now has its own ticket #1851

[2017-01-12 19:47] natefaubion opened #1852 "Incorrect mimetype being sent for font files"
Quasar is currently sending font files as `text/plain` which breaks in Chrome, so no icons show up.

[2017-01-12 19:48] sellout commented on #1852
And it seems like this is something that changed with the recent update to HTTP4S, since it was working properly in a previous Quasar release, right?

[2017-01-12 19:48] natefaubion commented on #1852
Correct.

[2017-01-12 19:49] natefaubion commented on #1852
I was previously using QA 0.5.4, which is based on 13.something, and everything worked correctly then.

[2017-01-13 03:48] #1752 closed

[2017-01-13 19:09] damonLL opened #1855 "Metastore corruption when multi-file workspace gets converted to single file"
From customer:
[code]

Appears the common denominator is when a workspace is opened and then saved, going from multi-file format to single-file format, the metastore gets corrupted.

[2017-01-13 19:10] damonLL commented on #1855
Linked to HelpScout ticket 1305.

[2017-01-13 19:12] #1802 closed

[2017-01-13 20:16] natefaubion commented on #1855
I don't think this is _directly_ related to migration. I ran migration on all the workspaces in the demo dump you sent me, and they were all OK.

[2017-01-13 20:18] natefaubion commented on #1855
Also note, the migration is simply a matter of reading in all the separate files together, and writing it back out to one file. After that it removes the old per-deck directories and purges the `.tmp` folder.

[2017-01-13 22:39] natefaubion opened #1856 "Select value with order by results in empty objects"
[code]

Results in a list of empty objects, instead of `{ value: foo }` objects. Removing the ORDER BY yields correct results.

[2017-01-13 22:44] natefaubion opened #1857 "Improper handling of `$obj` in precise encoding"
Writing to file data which contains this excerpt
[code]

Results in a 500
[code]

[2017-01-13 23:36] sellout commented on #1856
Ok, this is a pretty specific interaction of `select distinct` on a single field when you `order by` just that same field. Which I’m guessing is actually a pretty common case when you’re, say, trying to populate a list of values.

Like, even `select distinct null, state from :results order by state` works just fine.

My suspicion is that this behavior was introduced by #1799. It should only affect

[2017-01-13 23:42] sellout commented on #1856
Actually, the behavior where we repeat the sort after `sort; distinct` should be implemented in the SQL->LP compiler. We shouldn’t be assuming in LP or QS that distinct with a sort before it is still ordered.

[2017-01-14 21:49] drostron commented on #1852
Once I add an Origin header to a request I'm able to reproduce the issue. It appears to be something related to CORS. Investigation continues...

[2017-01-16 15:54] ocasta commented on #1855
Agreed. I think the common denominator is pivot tables

[2017-01-16 16:02] natefaubion commented on #1855
I don't think it's directly related to pivot tables either. Pivot tables just generate view queries like every other card. I can't reproduce the issue with any trivial pivot table, but it's always possible that some specific kind of query is tripping up the backend. It also may be interacting strangely with permissions or something. It's difficult to tell without some more info. Have we been able

[2017-01-16 16:06] natefaubion commented on #1855
I have been able to trigger the behavior.

[2017-01-16 16:24] natefaubion commented on #1855
I was able to trigger the behavior by creating a view mount with this query:
[code]

Using the following JSON payload
[code]

Which is generated by the Pivot Table. The request succeeds, but subsequent queries all fail and I can't get directory listings due to the corrupted meta store. To me this query looks OK, so there might be some issue with the way the backend is handling it.

[2017-01-16 16:36] natefaubion commented on #1855
If I do this in regular quasar, I get this error when parsing the config file:

[code]

Which I think is related to https://github.com/quasar-analytics/quasar/issues/1845

[2017-01-16 17:59] wemrysi commented on #1845
@natefaubion Looks like the issue is with the query, `%28select%20%2A%20from%20%3AA.results%29` which, when decoded is `(select * from :A.results)` and doesn't include backticks around the variable name.

You don't happen to have an example of the view creation request made to quasar, do you? If the backticks were present in the original request, then they were lost during serialization somehow, i

[2017-01-16 18:15] wemrysi commented on #1845
I've managed to reproduce this, it looks like the backticks are being lost during serialization.

[2017-01-16 21:01] damonLL opened #1858 "Option to download in compressed format does not work"
This is related to SlamData Issue # [1370](https://github.com/slamdata/slamdata/issues/1370)

The ability to download a SlamData / Quasar File (not a SlamData workspace) in compressed format does not appear to work from the SlamData UI.

Hopefully linking the two issues is helpful, and not just overhead :)

It's unclear whether this is an issue with frontend, backend or both.

[2017-01-16 21:28] sellout commented on #1858
Well, on the plus side, Quasar already knows how to do the compression – we just need to support a way for the client to request the result in compressed format. I _think_ the best way to do this is to have the client include `Accept: application/json+gzip` in the request. (Not that that’s supported by Quasar yet).

Also, I would say that the existing `Accept-Encoding: gzip` should be included in

[2017-01-17 00:33] alissapajer commented on #1550
@sellout after this release is out, could you describe the remaining work in this ticket? I'm not sure exactly what further work you have in mind to be completed.

[2017-01-17 00:41] alissapajer opened #1860 "Rewrite join integration tests to be non-self-joins"
The majority of the join integration tests use self-joins. This was only done originally due to a lack of datasets with common fields.

This ticket is to rewrite all the self-join integration tests to be non-self-joins. And then additionally include one or two self-join integration tests.

This will provide many more join integration tests that backends can test against, without requiring self-joi

[2017-01-17 00:59] natefaubion commented on #1858
@sellout I think that should be fine.

[2017-01-17 01:04] natefaubion opened #1861 "Add means of controlling the content disposition filename"
As per http://stackoverflow.com/questions/93551/how-to-encode-the-filename-parameter-of-content-disposition-header-in-http

https://github.com/slamdata/slamdata/issues/1369

I blindly tried adding the appropriate headers to the `request-headers` query param, crossing my fingers that it would magically work, to no avail 😆

Right now the UI lets you type a filename, but its an obnoxious noop.

[2017-01-17 14:41] beckyconning commented on #1852
This is also affecting videos in Safari.

[2017-01-17 15:03] drostron commented on #1852
The current plan is to downgrade http4s until fixed. @jr offered to submit a PR for this.

[2017-01-17 15:03] drostron commented on #1852
The current plan is to downgrade http4s until fixed. @jedesah offered to submit a PR for this.

[2017-01-17 17:03] drostron commented on #1740
In light of recent events and [recommendations](https://blog.couchbase.com/2017/couchbase-customer-advisory-note-security) we should offer configuration.

[2017-01-17 19:14] #1851 closed

[2017-01-17 20:35] #1704 closed

[2017-01-17 23:25] #1852 closed

[2017-01-18 00:58] #1845 closed

[2017-01-18 00:58] #1855 closed

[2017-01-18 18:33] #1766 closed

[2017-01-18 20:42] wemrysi commented on #1847
@damonLL @jdegoes I am currently thinking of approaching this by leveraging the support for querying over arbitrary paths that @sellout has worked on. This would mean that specifying a directory path in a query results in an input dataset comprised of the root documents of all the descendant files in the directory. Specifying a file path would result in an input dataset comprised of the children o

[2017-01-18 20:55] jdegoes commented on #1847
1. Makes sense.
2. I think it should only include immediate child files. @sellout?
3. Yes, this is beneficial for users.

[2017-01-18 20:55] sellout commented on #1847
I don’t think that “directory queries only include their immediate child files” really makes sense in the MRA model (which makes no distinction between a map and a directory of files).

Also, it sounds like ML actually supports both files that have only a single value in them as well as files that contain multiple values. Are these actually different file types in some way, or is it the case (as w

[2017-01-18 21:05] wemrysi commented on #1847
@jdegoes 2. That would match the current behavior, I was just wondering how intuitive it was. However, I think I agree it is the way to go as otherwise there isn't a way to just query the children of a directory high up in the hierarchy. Whereas if queries only return children one can always union multiple subdirectory queries to achieve the "descendants" behavior, albeit at the cost of more expli

[2017-01-18 21:10] alissapajer opened #1866 "failed autojoin when joining sub-queries"
In the integration test "join the results of a pair of sub-queries" (`joins/joinSubSelects.test`) we fail to `autojoin` in QScript.

This behavior is exhibited after the merge of #1865.

[code]

[2017-01-18 21:14] alissapajer opened #1867 "failed autojoin when joining a complex condition"
In the integration test "join with complex condition" (`joins/joinWithComplexCondition.test`) we fail to `autojoin` in QScript.

This behavior is exhibited after the merge of #1865.

[code]

[2017-01-18 21:20] #1690 closed

[2017-01-18 21:24] jdegoes commented on #1847
I thought @wemrysi was referring to "immediate children" (e.g. `{*}` or `[_]`) versus transitive children (for which MRA has no operator but it's possible with missing fracture / unfracture & pattern matching).

[2017-01-18 21:33] sellout commented on #1847
So, I’m still very confused about the first part … or rather, there’s an important distinction between user queries and ML queries, and we have to figure out how to align those things via QScript, etc. So it might be a discussion for a Slack Call or something.

The second part makes it sound like, yes, ML should be using `Read`, not `ShiftedRead` … but that doesn’t really matter to user queries mu

[2017-01-18 23:53] alissapajer opened #1868 "Incremental timings included with PhaseResults"
We'd like to time how long we spend computing each `PhaseResult`.

When `PhaseResults` print in the REPL, we'd print the timing of each phase along with the `RenderTree`. If we're not in debug mode, we'd print the sum of the times of each phase (not just the time of the last phase).

(Note to self: does anything of value happen _not_ during a `PhaseResult`?)

This will greatly aid in debugging per

[2017-01-19 00:20] sellout commented on #1868
“does anything of value happen not during a `PhaseResult`?” – Yes. The actual query evaluation. Currently the REPL prints out how long the query took and I’m not sure whether that includes all the compilation time or not. Also not sure if it includes the time to read the results. Ideally, we should have a time for when we first get a cursor back (in Mongo, this can actually take a while, I think,

[2017-01-19 02:57] alissapajer commented on #1867
Simplified examples:
[code]
and
[code]
When the join condition projects more than once into `l` (e.g. `l.a.b` or `l.a[0]`) we fail to autojoin.

Digging in a bit, the problem happens before we even try to construct the actual `ThetaJoin`. We first construct a `ThetaJoin` that just represents `r.x = l.a.b`, which we expect to do. But the construction of this has yet another `ThetaJoin` as one of _i

[2017-01-19 15:21] #1860 closed

[2017-01-19 16:30] uapasha opened #1869 "Mongo collections with '.' in the name"
Can quasar work with mongo collections with the '.' in the name?
Currently when I make ```GET /metadata/fs/[path]``` request to db with such names I get incorrect data object in response.
Particularly, directory name consists of only first part of the name.
For example my_db/some.Collection results in "some" being the name of the collection that I get in ```GET /metadata...``` response

[2017-01-19 16:40] jdegoes commented on #1869
@uapasha A simple workaround is to use a slash literal character (`/`) instead of the dot.

Quasar translates path separator characters into dots, and visa versa, on MongoDB.

[2017-01-19 16:54] uapasha commented on #1869
@jdegoes How can I configure this? I create mount through POST using this params:
[code]

[2017-01-19 17:06] wemrysi opened #1871 "Ensure the presence and validity of XCC host and port in connection URI"
Both a host and a port are required in the MarkLogic XCC URI but we don't explicitly validate their presence before attempting to use the URI. This results in unhelpful error messages like `port out of range:-1`.

We should validate both are present to provide better errors when they aren't.

[2017-01-19 18:20] alissapajer commented on #1867
What QScript is failing to support is illustrated really nicely when you look at the LogicalPlan. Consider the join condition `select * from zips join smallZips on zips.ack = smallZips.foo`. Then in the LP we have
[code]
In this first case, we join the left and right branches of the `Eq` with `'__tmp0` and `'__tmp1`, respectively, and all merges cleanly.

Now consider `select * from zips join smal

[2017-01-19 20:48] sellout commented on #1867
Oh! We fixed[†] this on @drostron’s key join branch. It could perhaps be extracted?

[†]: I’m sure it needs some massaging to not break anything.

[2017-01-19 20:50] alissapajer commented on #1867
@sellout Oh! What's the status of that branch? Is it pushed? Did you come to same conclusion about the problem as I did above?

What about #1866 - did you folks look into that one at all? (Could be the same problem, I haven't looked at all yet.)

[2017-01-19 20:51] alissapajer commented on #1867
@sellout I'd be happy to extract it if possible. I'd like to be sure these QScript bugs are out of the way before I dive into performance work.

[2017-01-19 20:55] sellout commented on #1867
Yeah, it looks like that might be the same. The change in @drostron’s branch is a real fix to the problem. There is also a crappy fix that we used in the old Mongo planner that is called something like `elideTypechecksFromJoinCondition`, which just throws away the Typechecks that get in the way.

[2017-01-19 20:59] alissapajer commented on #1867
Cool. @drostron what's your branch? Is this bug fix a separate commit or mixed in with other stuff? If I could get that work, that would be awesome. I'd be happy to extract it myself. Or if you're close to PRing, then this ticket can wait until then.

[2017-01-19 21:03] alissapajer commented on #1867
(Note: test `joinWithMultipleConditions.test` and `joinWithReversedCondition.test` also have this same problem. When this is fixed, it should be verified that those tests also work.)

[2017-01-19 21:06] drostron commented on #1867
@alissapajer Please excuse the exploratory condition of the branch, but here's the [relevant commit](https://github.com/drostron/quasar/blob/9561b42d316553ccff7816d4747d41ff7608c68e/frontend/src/main/scala/quasar/frontend/logicalplan/Optimizer.scala). Files of interest are `quasar/package.scala`, `LogicalPlanR.scala`, `Optimizer.scala`, and `quasar/sql/helpers.scala`.

[2017-01-19 21:08] drostron commented on #1867
Updated ult with branch and relevant commit.

[2017-01-19 21:12] alissapajer commented on #1867
@drostron thanks! I'll let you know what I end up doing so you can merge any work I do back into your branch hopefully easily.

[2017-01-19 21:15] sellout commented on #1867
Ok, so a bit of explanation … the most important bit is [the Typecheck cases here](https://github.com/drostron/quasar/commit/9561b42d316553ccff7816d4747d41ff7608c68e#diff-67ad2a826d4dc53505ed25ff0beedf3aR254). What got fixed in this code is that Typechecks _used to_ trigger a condition being pulled into a post-Filter (because we never had ThetaJoins), we needed to keep the equality as a join condi

[2017-01-19 23:52] jdegoes opened #1872 "Develop efficient binary protocol for EJSON"

[2017-01-20 04:18] sellout commented on #1869
@uapasha There’s nothing to configure, just request `GET /metadata/fs/my_db/some/Collection`

[2017-01-20 18:47] #1735 closed

[2017-01-20 18:47] #1773 closed

[2017-01-20 18:47] #1774 closed

[2017-01-20 18:47] #1775 closed

[2017-01-20 18:47] #1784 closed

[2017-01-23 20:15] drostron commented on #1861
When using mitmproxy to intercept a request and update the `request-headers` query param to `{"Accept":"application/ldjson;disposition=\"attachment; filename=random_file\""}` the response contains `Content-Disposition:  attachment; filename="random_file"` and Chrome downloads the file as the specified filename. @natefaubion Is that workable/reasonable?

[2017-01-23 20:19] natefaubion commented on #1861
That should be workable as long as I can do the UTF-8 encoding as in the linked stackoverflow post. Specific test case would be `Content-Disposition: attachment; filename*=UTF-8''Na%C3%AFve%20file.txt`.

[2017-01-23 21:11] drostron commented on #1861
Currently quotes are being added to the `filename*` value and that appears to throw off at least Chrome. I'll look into it further.

[2017-01-23 23:44] drostron commented on #1861
The behavior stems from Http4s supporting RFC 2616 and not RFC 5987.

[2017-01-24 05:51] damonLL opened #1880 "MongoDB aggregation should perform $match before $unwind"
- SlamData Community 4.0.10
- MongoDB 3.0.1
- Windows OS

The following SQL² query takes 15 minutes to execute in user's environment.  Collection size is ~ 200K documents and 5GB total data size.

[code]

It results in the following MongoDB aggregation request:

[code]

I believe the `$match` phase should be the first phase in the pipeline rather than second to last.  This would allow MongoDB to u

[2017-01-24 15:24] jdegoes commented on #1856
@sellout Looks like this is a 4.1 blocker. Let's discuss when you're online.

[2017-01-24 16:10] sellout commented on #1856
This is actually what I am in the middle of right now. Although, my current approach fixes a more general problem with `distinct` in all connectors. I’ll take a look right now to see if there is a quick fix to this specific case in old Mongo.

[2017-01-24 16:54] sellout commented on #1856
Oh, I thought of a possible workaround – let me know if it’s easy for you to implement. The benefit of this is that it’ll also give you consistent results across backends (all like `{ "value": foo }`, whereas the real Quasar fix at the moment would have results like `{ "value": foo }` on MongoDB and `foo` on other connectors.
[code]
The `AS` is the important bit. It means that we end up returning

[2017-01-24 17:05] natefaubion commented on #1856
The problem is I can't make this substitution in general, and this is affecting user-written queries.

[2017-01-24 18:55] sellout opened #1882 "Handle SQL `distinct` in SQL² compiler rather than in individual connectors."
This is a followup to some of the comments in #1856.

It is a more general solution to the problem by treating `distinct` as a SQL-ism, and generating the correct set of sort/group/sort operations when compiling to LogicalPlan, rather than requiring individual connectors handle it.

[2017-01-24 22:19] rabbitonweb commented on #1882
Does it mean that we will have no qscript that does `sort->grupby->sort` ?

[2017-01-24 22:22] sellout commented on #1882
It means the opposite – right now you would see QScript that did `sort -> groupby` and you would have to identify it as a case (`distinct`) that should be implemented like `sort -> groupby -> sort`. But with this change the `sort -> groupby -> sort` will be explicit in both the LogicalPlan and QScript.

[2017-01-24 22:23] jdegoes commented on #1856
@sellout Shouldn't this query be:

[code]

which selects the distinct field and orders by the distinct values.

Or, alternatively and equivalently:

[code]

The latter being the `DISTINCT` variant of `SELECT` which applies a distincting operation to the results of the selection, preserving order.

[2017-01-24 22:33] sellout commented on #1856
@jdegoes Yeah, I think that’s right – however I think the function form of `distinct` is currently behaving the same as `select distinct` in this case – perhaps a bug in the parser, since the select has only a single projection, that the `()` is read as precedence rather than function arguments. That’s just a guess, though. The SQL²->LP compiler certainly handles `select distinct(state)` different

[2017-01-24 22:36] jdegoes commented on #1882
@sellout I don't understand why DISTINCT would be translated into sort -> groupby -> sort. Can you explain?

[2017-01-24 22:45] sellout commented on #1882
@jdegoes Only if the query has an `order by`.

The semantics of `select distinct foo from bar order by baz` are such that given the set
[code]
the results must be `("a", "b")`, not `("b", "a")`, that is, `distinct` is an order-preserving group by. This actually only matters in the case where you sort by a value that’s not in the result set (our “synthetic” fields). So, if you sort by something in

[2017-01-25 01:23] #1856 closed

[2017-01-25 15:54] #1861 closed

[2017-01-25 20:21] jedesah commented on #1792
My estimate (in 8 hour days) for the sub-tasks:

- 4 days
- 2 days
- 1 days
- 3 days
- 2 days (if necessary)
- 4 days
- 3 days
- 2 days
- 4 days

[2017-01-26 17:50] wemrysi commented on #1847
@sellout @jdegoes As an incremental step to supporting all of MRA while enabling the use-case outlined in this issue, what if directory queries resulted in a map with immediate child file names as keys and their contents as values, ignoring sub directories?

This seems forward-compatible with full MRA support (as sub directories will just begin appearing as map keys once supported).

[2017-01-30 10:39] beckyconning commented on #1792
Didn't see this @. I'm reviewing now.

[2017-01-30 11:16] beckyconning commented on #1792
Is the intention that the following would work?

Access the folder `/`
Create a new MongoDB mount named `test-mount` with the database `testDb`
Access the folder `/test-mount/testDb`
Create a folder named `processes`
Access the folder `/test-mount/testDb/processes`
Create a new SQL² mount named `userData` with the query
[code]
Access the folder `/test-mount/testDb`
Create a new workspace named `U

[2017-01-30 12:43] damonLL commented on #1880
As a point of reference: when the MongoDB query was changed manually in the Mongo shell, and the order operations were changed as suggested, the query returned immediately with correct results.

[2017-01-30 14:14] damonLL opened #1884 "Quasar or REPL is adding .0 to integer values from MongoDB"
- Using Quasar 14.1.2, not the latest but relatively new.
- MongoDB 3.2.9

Not sure if this is a REPL issue or Quasar issue, it may also affect other datasources.  Hopefully my problem is self explanatory.  See the following output from MongoDB shell:

[code]

Now see the output from Quasar:
[code]

Is this simply the way the REPL displays an integer value to distinguish itself from a String value

[2017-01-30 16:31] sellout commented on #1884
So, the REPL distinguishes numbers by right-aligning them – you can see that `stringnum` is left-aligned. Also, if you wanted to be _sure_ about the types, you could use `format = precise`, then you would see JSON instead of a pretty-printed table.

I’m guessing the problem here is MongoDB. We add a `.0` to integer-valued decimal numbers to distinguish them from actual integers. My guess is that t

[2017-01-31 01:39] jdegoes commented on #1792
@beckyconning This is basically correct, except it would be a SQL<sup>2</sup> *module* mount, not a *query* mount. However, the main use of this will not initially be in user-imported modules, but rather in the front-end translating queries that use variables into modules, and then supplying values for those variables at query time. In this way, variable values can be separated from anything in th

[2017-01-31 03:42] ronenakiva opened #1885 "Convert from UTC to different time zone"
I would appreciate a way to convert the mongo UTC fields to different time zone as it make the viewing of the reports very difficult including queries between specific hours

[2017-01-31 13:32] beckyconning commented on #1792
Cool. The primary intention for this to be used via the API by SlamData to allow for read only deck consuming is clear. I wasn't sure about this secondary use case but this clarifies it. So to support this secondary use we would need to add a mount type for SQL2 Modules.

This all seems to make sense.

If I understand correctly the way this would be used in the front end is that module(s) would be

[2017-02-02 17:07] #1300 closed

[2017-02-02 20:35] drostron opened #1888 "Bring MetaStore support from QAdv to Quasar"

[2017-02-02 20:38] drostron opened #1889 "View Cache Job tracker"

[2017-02-02 20:41] drostron opened #1890 "Update view handling per caching"

[2017-02-02 20:47] drostron commented on #1714
- [ ] Bring MetaStore support from QAdv to Quasar #1888
- [ ] View Cache Job tracker #1889
- [ ] Update view handling per caching #1890
- [ ] QAdv: Switch to Quasar MetaStore slamdata/quasar-advanced#148
- [ ] QAdv: Update permission system per cached views slamdata/quasar-advanced#149

[2017-02-02 20:50] jdegoes commented on #1714
@drostron Let's also have a kick-off meeting on this next time we're both in the office.

[2017-02-02 20:50] drostron commented on #1714
@jdegoes Sounds good

[2017-02-03 16:29] alissapajer opened #1892 "Remove typechecks from LogicalPlan join condition"
In the `LogicalPlan` for the query
[code]
the `Typecheck` in the join condition references both the left and right sides of the join. This makes it not possible (or at least not easy) to transform this plan into QScript. And makes other connectors (like Couchbase) more difficult to implement as well.

In the old mongo backed, situations like this were handled by deleting the `Typecheck` entirely.

[2017-02-03 16:37] alissapajer commented on #1892
The resulting rewritten `LogicalPlan` should look like this:
[code]

[2017-02-03 16:39] alissapajer commented on #1892
Also note the following more complicated queries, where two `Filter`s are required before the join, one for each side.
[code]
and
[code]

[2017-02-05 15:56] drmikecrowe opened #1894 "ERROR Query decoding Long failed when retrieving long string of numeric digits"
We have a long numeric string in our collection (20-digits).

This simple query:

    SELECT TO_STRING(item)
    FROM `/db/items`

gives this error message:

    invalid offset: Query decoding Long failed

Data looks like:

    {
        "_id" : ObjectId("5890854b11f830001c75a72c"),
        "item" : "11111111111111110154"
    }

[2017-02-06 17:45] alissapajer commented on #1867
This ticket requires (and is partially fixed by) #1892

[2017-02-07 03:14] jdegoes commented on #1894
Can you report version of MongoDB being used?

[2017-02-07 14:45] drmikecrowe commented on #1894
Apologies:

* quasar-web-assembly-14.5.2.jar
* MongoDB:
    * "version" : "3.2.11",
    * "gitVersion" : "009580ad490190ba33d1c6253ebd8d91808923e4"

[2017-02-07 17:36] damonLL opened #1895 "Quasar is using both $lookup and mapreduce in simple JOIN MongoDB query"
From a forum post [here](https://groups.google.com/d/msg/slamdata-user/148shzEh6RA/iuRxa2SQCAAJ)

The following behavior is exhibited in both MongoDB 3.2.9 and 3.4.1.  The JOIN will use $lookup properly because at least one index exists in the JOIN (`_id` by default) and it's an equality join, so I don't believe adding the second index to `TestProgramId` as mentioned in the post improves performan

[2017-02-07 17:40] sellout commented on #1895
Hrmm, yeah, that mapReduce seems unnecessary – it simply projects the `_id` from the left side of the join. I’ll have to look at the intermediate phases to see why that’s happening.

[2017-02-07 17:49] jdegoes commented on #1895
@sellout This should be getting compiled to `$lookup`.

[2017-02-07 17:51] sellout commented on #1895
@jdegoes It _is_ using `$lookup`. The mapReduce is not involved in the join.

[2017-02-07 17:52] jdegoes commented on #1895
@damonLL Can you post the plan w/o the index on `TestProgramId`?

[2017-02-07 18:52] damonLL commented on #1895
@jdegoes I'm pretty sure it's the same thing.

[code]

[2017-02-07 21:38] gbenshim opened #1896 "Query executed with mapReduce instead of aggregate and lookup"
I run the following sql:

select tp._id, count(*)
from `/tpdb/test/testPrograms` as tp
join `/tpdb/test/testInstances` as ti
on tp._id = ti.TestProgramId
group by tp._id

From the logs i can see that its preforming map-reduce.
Its taking forever, using REST Api from C# code I get timeout exception.

I run this query directly on the database:
db.testPrograms.aggregate(
[
    { $lookup: { from: "tes

[2017-02-07 22:04] sellout commented on #1896
Duplicate of #1895.

However, this also points out that we don’t yet take advantage of the `$size` expression.

[2017-02-08 00:35] #1892 closed

[2017-02-08 12:59] jirejas opened #1897 "Error parsing Integer to string in query"
Hello everyone.

I'm working on doing queries with the DATE_PART function. For example:

select DATE_PART("month",ASALTARCEP.contextData.timestamp) from ASALTARCEP;

It works fine but when I try to convert the result of DATE_PART (it returns an integer) to string with CONVERT function, I obtain "Quasar error: the function convert could not be found in the standar library". So I'm trying to do it w

[2017-02-08 13:38] jdegoes commented on #1897
`TO_STRING`

[2017-02-08 13:38] #1897 closed

[2017-02-08 18:14] sellout commented on #1669
Just to get a few thoughts out of my head:

1. #1622 is fixed, but this query is still slow
2. it _could_ be that we are doing a lot of normalization and other work on the extra structure before it’s finally elided
3. it’s probably a good idea to interleave the elision of extra structure with the transformation from LP.

[2017-02-09 18:46] jdegoes opened #1898 "Abstract single module definition of connector"
In a single trait, we need to include all the types and methods required to _completely specify_ a connector. Then we need to implement the trait for all existing connectors, and modify a connector integration so that it is as simple as adding a new connector implementation to a list of connectors.

The goal is to make it _crystal clear_ for a connector author _exactly_ what is necessary to implem

[2017-02-09 19:08] #1550 closed

[2017-02-09 19:17] jdegoes opened #1899 "Support API for setting up, configuring Spark local"
Ensure this can be configured from any CE or AE build of Quasar.

TODO:

- [x] Implement backend
- [x] Specification for `spark-local` to front-end team

[2017-02-09 19:21] jdegoes opened #1900 "Support configuration for production Spark clusters"
TODO:

- [x] Propose`connectionURI` specification for front-end team
- [x] Implement new `connectionURI`
- [x]  New `connectionURI` implemented on front-end side
- [x] BUG: on backend wrong sparkUri is created

[2017-02-09 23:10] damonLL opened #1901 "Ability to deploy SlamData and/or Quasar as a Windows Service or Linux Daemon"
We've received multiple requests to install SlamData as an OS service or daemon rather than a standard Java application. This would allow administrators to manage starting, stopping and status monitoring of the SlamData process itself through normal OS means.

For Linux perhaps something like the answer mentioned in this [StackOverflow Post](http://stackoverflow.com/questions/7687159/how-to-conver

[2017-02-13 12:10] rabbitonweb commented on #1900
We need to add ability to give our users way to configure connection with Spark. Right now it is available only via environment variables, but we might have clients willing to keep that configuration internal (within the quasar).

[2017-02-13 12:10] rabbitonweb commented on #1782
Duplicated by https://github.com/quasar-analytics/quasar/issues/1900

[2017-02-13 12:10] #1782 closed

[2017-02-13 12:33] rabbitonweb commented on #1762
It was not a bug, but a feature :)

[2017-02-13 12:33] #1762 closed

[2017-02-13 12:34] rabbitonweb commented on #1725
Duplicated by https://github.com/quasar-analytics/quasar/issues/1763

[2017-02-13 12:34] #1725 closed

[2017-02-13 12:37] rabbitonweb commented on #1667
This was fixed by @jedesah

[2017-02-13 12:37] #1667 closed

[2017-02-13 13:09] rabbitonweb commented on #1589
That was fixed by @jedesah

[2017-02-13 13:09] #1589 closed

[2017-02-13 14:28] rabbitonweb opened #1907 "Test for Spark robustness"
- [x] Enable all integration tests for Spark that are not effected by QScript issues
- [x] Upgrade to latest version of Spark
- [x] set-up 2.1.0 cluster for tests
- [x] spark-connectors should fail gracefully when mounted more then one
- [x] unmounting spark connector should free resources (there is a bug most probably in front-end)

[2017-02-13 17:19] rabbitonweb commented on #1907
Upgrade in https://github.com/quasar-analytics/quasar/pull/1908

[2017-02-13 17:24] rabbitonweb commented on #1899
@jdegoes "from any CE or AE " - can u expand the acronyms ?

[2017-02-13 17:24] rabbitonweb commented on #1712
@jdegoes In order for `spark-hdfs` to work we need to include `sparkcore.jar` in the installers. That jar is very light (few kilobytes).
Do we want a separate installers for Quasar and Quasar that works with `spark-hdfs` OR do we want to always include `sparkcore.jar` in the installers (regardless of whether somebody is downloading Quasar to use with Spark or not)

Please note that `spark-local` (

[2017-02-13 17:39] jdegoes commented on #1899
Community Edition, Advanced Edition.

[2017-02-13 17:40] jdegoes commented on #1712
Always include it in the installers.

[2017-02-13 18:25] gbenshim commented on #1895
Guys, any update on this? Quasar and mongo seem to be really cool and fit our needs, but performance is really important to us. We are in the process of evaluating it and we're stuck and forced to look for other solutions :-(

[2017-02-13 19:41] alissapajer opened #1909 "Improve QScript performance on basic select query"
Below shows how long it took to generate `QScript` from a `LogicalPlan` for a given query. Clearly we have a serious exponential performance problem. (Note that I only ran each query once to generate the times.)

`select a, b, c from zips`
0.113s

`select a, b, c, d from zips`
0.121s

`select a, b, c, d, e from zips`
0.378s

`select a, b, c, d, e, f from zips`
1.632s

`select a, b, c, d, e, f, g f

[2017-02-13 19:45] alissapajer commented on #1909
`select a, b, c from zips` generates the following `LogicalPlan`:
[code]
which compiles to the following `QScript`:
[code]
One thing to note immediately (compile-performance related or not) is that in the `LogicalPlan` we have a single `Typecheck` where in the `QScript` we have the same `Guard` duplicated for each `ProectField`. We would like to require a backend to perform this calculation only o

[2017-02-13 19:49] alissapajer commented on #1909
I should also note that the times were generated using the work in #1906 .

[2017-02-13 19:56] jdegoes commented on #1909
😱

[2017-02-13 21:19] gbenshim commented on #1895
Hi, since i'm in a POC mode I can't really see myself convincing my managers to put $$ on something that didn't prove itself yet, but then again - i can't really prove it works unless the issue gets fixed.  I'm kind of in a funny situation, the SQL interface is a killer - super awesome, it is exactly what we need, but on the other hand, and let me be honest for sec, it doesn't look good that on my

[2017-02-13 21:32] jdegoes commented on #1895
@gbenshim I am looking at this status of this (I believe it's fixed but not deployed). I think in general, Quasar does a very good job at compiling SQL queries into 100% MongoDB execution plans. This is a weird edge case where a redundant map/reduce is generated.

[2017-02-13 22:36] gbenshim commented on #1895
I'm looking forward to see it getting fixed! I'd really like to push this forward in my organization. Will this thread get updated if the issue get fixed or should I ping it again to see if it fixed?

[2017-02-13 22:37] jdegoes commented on #1895
Yes, we'll update this thread as soon as I have more information.

[2017-02-14 16:55] alissapajer commented on #1909
Some updates: We are spending all of our time in `MapFunc.normalize` via `freeMF`. We are spending time there not due to that particular algorithm, but because prior to getting there, we generate _huge_ `QScript`. A subset of the intermediate `QScript` for `select a from zips` is 440 lines long (when rendered as a tree) and contains ~15 duplicate sections that look like
[code]
all nested various l

[2017-02-14 17:15] sellout commented on #1909
Good – this matches our suspicions – I think we need to make sure we `pruneArrays` along with (before) the incremental normalization. It might not help as much as we’d like (because we don’t always know whether we still need the provenance info until we get closer to the root), but it should be a fairly easy change to make and something we should be doing anyway. We need to make sure we run `prune

[2017-02-14 18:19] damonLL opened #1910 "Metastore possibly becomes corrupt when Quasar gets JVM OutOfMemoryError"
This is more of a suspicion than a known fact, but since it has happened at least one verifiable time before, and several suspected other times, I think it needs addressing.

To reproduce, I would imagine that giving the JVM a very constrained memory profile (-Xms128m -Xmx256m) would cause this pretty quickly, given a large dataset and a complex query.

While this has proven to corrupt the metasto

[2017-02-14 18:21] jdegoes commented on #1910
@damonLL When you get a chance, please try to reproduce to save engineering time in fixing it.

[2017-02-14 19:32] alissapajer commented on #1909
@sellout I don't think it's possible to `pruneArrays` before incremental normalization (in `convertAndNormalize`) because at that stage we are still working with a `Target` which contains unreified provenance and value information. The `Ann` at this stage may still contain references to an array in the value. We could run `pruneArrays` also considering the `Ann`, sort of doing a fake reification t

[2017-02-14 19:39] alissapajer commented on #1909
For example, in `coalesceQC` we replace every `SrcHole` in the `FreeMap` of the `Map` with the `repair` of the `LeftShift`, thereby eliminating the `Map`. This pattern of replacement combines exponentially and gives us our giant `QScript`.

I think that `pruneArrays` addresses the symptoms rather than the cause of the problem. Now, subexpression elimination is no small task to implement in `QScrip

[2017-02-14 19:52] sellout commented on #1909
We can still apply `pruneArrays` before normalization – if an array is accessible via the Ann, then it must be accessible via `Target.value`, which means it won’t get pruned anyway.

Also, I think putting `pruneArrays` between convert and normalize is the right thing to do anyway. We _should_ be composing these things as much as possible rather than chaining them. That it might reduce this problem

[2017-02-14 21:20] alissapajer commented on #1909
@sellout We need to take the `Ann` into account at the time of calling `pruneArrays` - that was my point. If there is an array in the value, that array might be dereferenced in the annotation, meaning, we will prune that too much (removing indices which are actually used) if we don't also take the annotation into account.

[2017-02-15 01:03] alissapajer commented on #1909
Update: So, we indeed can _correctly_ call `pruneArrays` during incremental compile. This is because any array at the "root" level (the level that is be referenced by the annotation) cannot be pruned because this array represents the result of the query (at that stage), which we are required to return in full to the user (eventually). At the end of the world we can `pruneArrays` again after we rei

[2017-02-15 18:38] jdegoes commented on #1895
@gbenshim This has been fixed but has not been merged into master yet. I'd expect by next week, it should be released.

[2017-02-15 21:17] alissapajer commented on #1909
Yes! I just compiled a select query with 20 fields in 0.357s. Fingers super-crossed that this fix is for real :) Previously 9 fields took > 300s to compile while now 9 fields compile in 0.189s. I simply ran `normalizeMapFunc` incrementally inside `coalesceQC` in the case that I knew was being hit tens of thousands (or more) of times. I will add `normalizeMapFunc` to all the other cases in `coalesc

[2017-02-15 21:42] JeffACarr commented on #1895
Thanks for sharing the additional information, totally understand. Per John
this fix will be merged soon. Hope things work well for you, would be great
to get a large org like yours supporting Quasar. As you know this kind of
support is key for open source projects, big company adoption is important.
The core technology is really innovative and generally solid, still some
edge cases as you found ;

[2017-02-16 05:24] alissapajer commented on #1909
TODO for self - time the `QScript` compilation of all the integration test queries that are running slowly to determine if we have _other_ performance bugs in `QScript`.

[2017-02-16 18:38] alissapajer opened #1914 "Failed typing and constant folding of empty result set in LP"
In some cases, when we have the empty result set in `LogicalPlan` we fail to properly type this result set as well as to constant-fold the result so that we don't evaluate the query in a backend. See example below.

[2017-02-16 18:40] alissapajer commented on #1914
Also of interest:
[code]
Same query but with a modified join condition.

[2017-02-16 19:11] sellout commented on #1914
So, re: the second bug – it’s good that the backend has no representation for `Data.Set`, but there are two problems I see: 1. where is the empty set even coming from, and 2. what bits of constant folding are missing in LP to allow that query to get to a connector?

[2017-02-16 19:18] alissapajer commented on #1914
The `QScript` looks correct to me in the second bug. @sellout were you suggesting that the query in the second bug shouldn't get to a connector because the query is somehow invalid? Because I think that it is a valid query that should just return the empty set.

I'm thinking that in the first bug we are getting `b` that represents the field name and `b` that represent `:bar` confused, which is wha

[2017-02-16 19:21] sellout commented on #1914
Oh, heh, right – I “evaluated” the second query in my head using the condition from the first (i.e., I was expecting a result).

But I meant that it shouldn’t get to a connector because it can be statically evaluated. As can the first – so the first should also never get to QScript.

[2017-02-16 19:22] alissapajer commented on #1914
This is all very weird:
[code]
That differs from the query in the first bug again only in the condition, but it still has `b.b`. So `f.a` in the condition causes the `None.get` while `f.c` in the condition causes the `Set` issue.

[2017-02-16 19:23] sellout commented on #1914
I think the difference is just whether the condition evaluates to `true` or `false`.

[2017-02-16 19:24] alissapajer commented on #1914
@sellout agreed that that is consistent with what we're seeing.

[2017-02-16 19:25] alissapajer commented on #1914
And proven with dropping `true` and `false` in place of the join conditions.

[2017-02-16 19:25] alissapajer commented on #1914
A touch more information about this `Set`:
[code]

[2017-02-16 19:32] sellout commented on #1914
Hrmm, that looks like there’s a subtyping issue – I mean, `Set` needs to go away (it’s on our list of 4.2 stuff), but the empty set should end up with Type.Bottom, which should be a subtype of everything …

[2017-02-16 20:23] alissapajer commented on #1700
The query in `caseVariations.test`
[code]
now compiles to `QScript` in about a second (don't have exact timing), when run against PR #1912. Unfortunately mongo-qscript generates an error (that I think @sellout has fixed locally), marklogic times out, and couchbase hits `unimplemented EquiJoin`.

Now, this query should not require a join, so it's a bug that the `QScript` is creating one. Will open

[2017-02-16 20:27] alissapajer commented on #1669
As of PR #1912, this query compiles to QScript in under a second.

[2017-02-16 20:29] alissapajer commented on #1669
I will attempt to enable the tests tagged with #1669 in #1607.

[2017-02-16 20:39] alissapajer commented on #1669
We can enable `null/nullTestExprs.test`.

[2017-02-16 20:52] alissapajer commented on #1669
We can enable `temporal/datePartsConverted.test` for CB, ML, Mongo.

[2017-02-16 21:03] alissapajer opened #1915 "QScript generates unnecessary ThetaJoin in `caseVariations.test`"
In the `caseVariations.test` integration test, the resulting `QScript` contains a `ThetaJoin` when it should not.

The query:
[code]
This query can be simplified by removing nearly all (or perhaps all) the `case` statements, and an unnecessary join will still be produced in `QScript`.

[2017-02-16 21:06] alissapajer commented on #1915
Here's a more minimal example:
[code]

[2017-02-16 21:07] alissapajer commented on #1700
The join bug is reported in #1915.

[2017-02-17 03:21] #1669 closed

[2017-02-17 03:21] #1700 closed

[2017-02-17 03:21] #1909 closed

[2017-02-17 13:23] #1867 closed

[2017-02-17 18:14] jdegoes commented on #1909
This is a huge improvement! Ultimately I'd like compilation time to be insignificant (e.g. one to two orders of magnitude faster than presently for these sized queries). But one step at a time. 😄

[2017-02-17 18:22] alissapajer commented on #1909
@jdegoes I agree that we'll need to make `QScript` compile faster down the road. Right now `QScript` compile generally dominates the time it takes to go from raw SQL^2 to `QScript`. But for now, backend computation is dominating the query time, at least for some backends. We'll take a careful look at this when we switch out old mongo for mongoq, and we might need to work more on `QScript` performa

[2017-02-17 18:45] #1786 closed

[2017-02-17 19:37] alissapajer commented on #1607
Updated as of ce9932a90bb13df3dd1382b68cb83c3f827b376f. Didn't verify the causes of many of the disabled tests, but overall the table should generally be correct.

[2017-02-17 21:13] drostron commented on #1607
@alissapajer Thanks for updating the issue per latest fixes and test enablement.

[2017-02-20 18:38] wemrysi commented on #1847
@jdegoes Ran into another hiccup with this during some testing with SlamData today that may have implications on its release.

We currently return the set of physical inputs to a query in the response from the `/compile` endpoint (#1224), but we do so in a way that assumes all the paths in `LogicalPlan` map directly to physical files. This had been true up until now, but paths can be a file or a d

[2017-02-20 18:44] wemrysi opened #1920 "Allow backends to provide the set of physical inputs to a query"
Responses from the `/compile` endpoint include the physical set of inputs to the compiled query in addition to the compilation output itself.

This set of inputs is currently determined from `LogicalPlan`, assuming each path represents a file in the underlying backend(s), however this may not always be the case (if a path represents a physical directory, or something deeper than a file, for instan

[2017-02-20 20:55] jdegoes commented on #1847
@wemrysi I think this is worth fixing after this ticket. I bumped it to 4.2.

[2017-02-21 02:12] jdegoes commented on #1895
@sellout Has the fix for this been PR'd yet?

[2017-02-21 16:08] sellout commented on #1895
@jdegoes It hasn’t. I ran into a second problem, which the typecheck was basically hiding. What happens is we end up with a `SpliceObjects` call (the Mongo representation of `ConcatMaps`), which can only be implemented in JS. It gets optimized away, but not until after it forces the subsequent `$project` expression to be converted to JS, leaving us with a `mapReduce` that _should_ be an aggregatio

[2017-02-21 16:09] jdegoes commented on #1895
@sellout Thanks!

@gbenshim We will do the release of 4.1.2 on Monday. Fingers crossed, it should have this fix in there.

[2017-02-21 18:58] alissapajer opened #1923 "SQL analysis identifying `zips.pop` as distinct from `pop`"
Consider the two queries
`select zips.pop from zips where pop <= 10`
[code]
and
`select pop from zips where pop <= 10`
[code]
In the former we should not identify the `zips.pop` as distinct from the `pop`. Both queries should produce an identical SQL annotated tree.

[2017-02-21 18:59] alissapajer commented on #1923
Here are two more complex queries that trigger the issue that should also be tested.
`select zips.pop from zips where pop <= 10 order by pop`
`select distinct zips.pop from zips where pop <= 10 order by pop`

[2017-02-21 19:13] alissapajer opened #1924 "QScript fails to merge through a mapped sort"
The QScript for the query `select distinct city from zips where pop <= 10 order by pop` contains an unnecessary `ThetaJoin`. (It should contain no `ThetaJoin`s at all.)

The cause of the problem is clear if we look at a subset of the `LogicalPlan`.
[code]
We attempt to merge the `QScript` forms of `__tmp5` and `DeleteField(__tmp5, "__sd__0")`. In `QScript` this is merging a `Sort(Map(Hole, _), _,

[2017-02-21 19:13] alissapajer commented on #1924
Should also note that the query `select distinct zips.pop from zips where pop <= 10 order by pop` will also hit this bug until #1923 is fixed.

[2017-02-21 19:14] alissapajer commented on #1915
There are two separate (unrelated) issues going on here: #1923 and #1924.

Fixing #1923 should fix this particular example because we are selecting `pop`, which is also what we're filtering and ordering by. But If we were to select a different field, we'd hit the bug again and will require #1924 as a fix.

[2017-02-21 19:17] alissapajer commented on #1924
@sellout tested this query on the local mongoq branch, and it still hits the same bug even though we use `GroupBy` in place of `Distinct`/`DistinctBy` (which are deleted).

[2017-02-22 01:06] #1895 closed

[2017-02-22 16:53] EncodePanda opened #1926 "Use Kryo serializer in sparkcore"
Default JVM serialization is a huge pain with current sparkcore development (see https://github.com/quasar-analytics/quasar/pull/1795 as an example).

Spark supports Kryo serialization library but Kryo need registery upfront. In the past I tried to apply Kryo in Quasar, however I failed. This does not mean that it is not doable - it just requires probably more attention to the details (figureing o

[2017-02-22 23:21] alissapajer opened #1927 "Fix `None.get` error in MapFunc"
[code]

Not sure how this is even compiling given that we have the `OptionPartial` wart enabled which disables `Option#get`. (Maybe this is fixed in a newer version of wartremover?)

[2017-02-22 23:22] alissapajer commented on #1914
`None.get` error now tracked in #1927.

[2017-02-22 23:22] #1769 closed

[2017-02-22 23:26] alissapajer commented on #1914
We need to properly handling constant folding and empty result sets in `LogicalPlan`. To do this we should remove `Data.Set(Nil)` (which happens to align us more with `EJson`).

Currently we detect the empty result set in cases like `Filter(_, false)` (which has type `Bottom`) but then fail to accept `Bottom` or `Const(Set.Data(Nil))` as a valid type for all the invoke typechecks.

[2017-02-23 15:53] alissapajer commented on #1923
Fixing this should fix #1915

[2017-02-23 17:57] alissapajer commented on #1923
As a note, it's only when we add in ordering with `select zips.pop from zips where pop <= 10 order by pop` that the `LogicalPlans` diverge, one containing the unnecessary `__sd__` field which is added and subsequently deleted.

[2017-02-23 20:43] #1847 closed

[2017-02-24 04:29] #1927 closed

[2017-02-24 12:49] evandrofg opened #1929 "Can't use subquery when there's a group by statement"
I can't use a SELECT statement within another when a GROUP BY is involved.

For example, this query returns the total population:

SELECT SUM(pop) FROM zips

This query returns the population per state:

SELECT SUM(pop), state FROM zips GROUP BY state

I want a table with the population per state divided by the total population, so I can present the data in percentages. So I tried this:

SELECT 10

[2017-02-24 13:49] sellout commented on #1929
Here is the (Mongo-specific) QScript we generate for this. Note the extra `EquiJoin`. The inner join looks correct, but then we do a second join across the `state` rather than unifying that with the side of the join that has the same bucketing.

This looks to me like the remaining Provenance issue I was having trouble formulating before.
[code]

[2017-02-24 16:11] natefaubion opened #1930 "Couchbase filesystem issues"
Here are a couple GIFs showing some issues I'm having with the Couchbase connector and the frontend.

When I'm browsing in the Open card (which checks metadata to verify), it will always tell me something doesn't exist, which it clearly does, because I just pulled it from the listing. When I reload it doesn't have an issue.

![couchbase-dne](https://cloud.githubusercontent.com/assets/144058/233107

[2017-02-24 16:47] drostron commented on #1930
@natefaubion I'm not yet able to reproduce what you're seeing. Could you post a screenshot of your indexes listed in the corresponding Couchbase Console tab?

[2017-02-24 16:53] natefaubion commented on #1930
<img width="1062" alt="screen shot 2017-02-24 at 10 54 13 am" src="https://cloud.githubusercontent.com/assets/144058/23312458/74bfb46e-fa7f-11e6-8cbd-603267b3b8bc.png">

[2017-02-24 17:02] drostron commented on #1930
@natefaubion Can you add the following index via the Query tab and see if behavior changes for you?

[code]

[2017-02-24 17:04] natefaubion commented on #1930
It runs faster, but I still get the same error behavior.

[2017-02-24 17:10] jdegoes commented on #1930
@drostron Also, if indexes are required for correct behavior, perhaps we should create them ourselves?

[2017-02-24 17:16] drostron commented on #1930
@jdegoes That could make sense or at least check for them and issue a warning in their absence. It seems that this issue is stemming from something else though. I noticed that memory optimized indexes aren't enabled in @natefaubion's CB server. I'm going to try that out locally to see if I can replicate.

[2017-02-24 18:58] drostron commented on #1930
I've tried both CB 4.5 and 4.5 without memory optimized indexes and without an index on type and am unable to reproduce. Definitely saw the issue with @natefaubion's setup when pairing and it appears that empty results are being returned from CB intermittently. As far as we could tell our CB Server configs were the same. I'll try a few more variations to see if that helps manifest the behavior.

[2017-02-27 14:18] cryogenian opened #1931 "Queries with static values return 500"
Not sure if this isn't duplicate. slamdata/slamdata#1425
All queries that has top level non-object values returns 500 with something like
[code]
Although queries having only top level objects like:
[code]
[code]
work.

[2017-02-27 14:26] cryogenian commented on #1931
Basically all queries that do something with view mount with constant values return 500. GET?offset&limit works

[2017-02-27 14:28] sellout commented on #1931
@cryogenian Can you include a query that doesn’t work?

[2017-02-27 14:29] sellout commented on #1931
My guess is that we’re missing a bit of constant folding somewhere in the LP, so a static value isn’t identified as such. Or … you’re using a static query with `POST`.

[2017-02-27 14:39] cryogenian commented on #1931
[code]

[code]

[2017-02-27 14:40] cryogenian commented on #1931
Response
[code]

[2017-03-01 00:17] alissapajer commented on #1923
#1915 will not be fixed by this because we would have to see through the case statement. That will be fixed when we make joins first class in LP. Though we still might want to do more work in the SQL compiler to recognize more cases when an expression is used multiple times.

[2017-03-01 18:25] zeeiyerWork commented on #1468
Talked to @drostron  -> Likely to slip 4.2 given other higher priority items

[2017-03-01 18:26] zeeiyerWork commented on #1469
Talked to @drostron -> Likely to slip 4.2 milestone, given this is lower priority compared to other pressing GitHub Issues

[2017-03-01 18:27] zeeiyerWork commented on #1587
Talked to @drostron -> Will definitely slip 4.2 given size-able amount of work and conflict with Smart-Caching Feature

[2017-03-01 18:35] zeeiyerWork commented on #1621
Also look at slamdata/slamdata#1457

[2017-03-01 20:34] djspiewak opened #1935 "N1QLSpec fails functor composite laws (sometimes!)"
[code]

This appears to have been uncovered by upgrading to the latest scalacheck, which actually generates proper functions.

[2017-03-02 20:39] djspiewak opened #1938 "Reduce wildcard imports"
Specifically, wildcard imports that grab an enormous mess of implicit conversions.  The most common offender:

[code]

Also, wildcard imports do make it difficult to figure out where certain types are coming from (see, @alissapajer, I *have* learned my lesson on that one!).  But more significantly, bringing in a mess of unused implicits slows down the compiler considerably.  This is most noticeabl

[2017-03-02 20:47] sellout commented on #1938
There was a time when we went through and replaced `Scalaz._` with smaller imports, but we didn’t find a significant change in compile time (granted, the code base has gotten a lot larger since then).

I find many imports tough to manage (you spend a lot of time thinking “why can’t it find `>>=`?!”) to the point where we’ve discussed moving much of Scalaz to our Predef. As far as figuring out wher

[2017-03-02 22:29] djspiewak commented on #1938
I'll give it a shot with a couple good exemplars.  Basically, there won't be a significant change in files that lack a lot of implicit falsification, but there will be for any file that involves inductive search, since every theorem brought into scope has to be individually falsified at each level of the tree.  Scala needs a cut operator…

[2017-03-03 04:48] jedesah commented on #1609
Fixed by #1936

[2017-03-03 04:48] #1609 closed

[2017-03-03 04:49] jedesah commented on #1618
Fixed by #1883

[2017-03-03 04:49] #1618 closed

[2017-03-03 14:22] beckyconning opened #1939 "Compile provide information on process usage."
If a process is used in a query then this should be reported by compile.

[2017-03-03 14:51] garyb commented on #1792
@jdegoes is there a separate issue for enhancing compile to be able to provide information about a query's dependencies on processes, or is that a subtask that should belong in here too?

[2017-03-03 15:33] rabbitonweb commented on #1900
Things we need to provide as part of configuration for our users to set:
(details at http://spark.apache.org/docs/latest/configuration.html)

**For Executors**
- spark.executor.memory
- spark.executor.cores
- spark.executor.extraJavaOptions
- spark.default.parallelism
- spark.files.maxPartitionBytes

**For Diver**
- spark.driver.cores
- spark.driver.maxResultSize
- spark.driver.memory
- spark.loca

[2017-03-03 15:33] jdegoes commented on #1792
@garyb We need to make a separate task.

I assume you want compile to report on whatever module imports are in the query? Or something else?

[2017-03-03 15:55] zeeiyerWork opened #1940 "Deprecate old-Mongo-connector-implementation and switch to new-Mongo-connector"
Based on QScript etc.

[2017-03-03 15:56] rabbitonweb commented on #1899
TODO:

- [ ] Specification for `spark-local` to front-end team
- [ ] Default mount to `spark-local` when no mounts specified

[2017-03-03 16:02] rabbitonweb commented on #1761
TODO:

- [ ] Reproduce the problem
- [ ] Check if whether this is front-end vs backend problem
- [ ] Support failures of creating instance of `SparkContext` so that backend can fail gracefully

[2017-03-03 16:05] jdegoes commented on #1792
I would only use modules for views with variables. For views without variables, I think better interaction will be achieved with ordinary view mounts.

[2017-03-03 16:08] garyb commented on #1792
If we could get both imported modules and the functions used that'd be ideal I think.

Yeah, our intention was to do that - although as soon as a parameterized view is introduced in a chain of cards every view after that will also have to be a paramtereized view I think, since we'll need to propagate variables backwards from the "end".

[2017-03-03 16:31] rabbitonweb commented on #1712
TODO:

- [ ] Modify script to generate sparkcore.jar
- [ ] Modify building scripts to include sparkcore.jar
- [ ]  Either set instructions to include QUASAR_HOME or set `addJar` to place where sparkcore.jar is (some vodoo magic needed)

[2017-03-03 17:05] jdegoes opened #1941 "Enhance /compile endpoint to provide additional details"
SlamData would like additional information on queries, including:

 * Provide names and types of variables used in queries.
 * Provide list of imported modules, and list of functions in such modules which are called (#1792).

This structured information will help allow SlamData to make robust dependency determination.

[2017-03-03 17:05] jdegoes commented on #1792
@garyb See [here](https://github.com/quasar-analytics/quasar/issues/1941) and please add or clarify depending on your needs.

[2017-03-03 17:07] garyb commented on #1941
Yep, this covers it perfectly as far as I'm concerned! @beckyconning?

[2017-03-03 17:34] jdegoes commented on #1858
@zeeiyerWork Can you make sure this gets done in 4.2 for the front-end team? We need it for workspace import / export.

[2017-03-03 17:47] wemrysi commented on #1715
@jdegoes Is there a description/specification of "SQL2's pattern language" I can refer to?

[2017-03-03 18:10] wemrysi commented on #1715
Found these in JIRA, which look promising

https://slamdata.atlassian.net/browse/SD-1009
https://slamdata.atlassian.net/browse/SD-1010

[2017-03-03 18:47] beckyconning commented on #1941
Yep this looks good to me! Should I remove #1939?

[2017-03-03 18:56] jdegoes commented on #1941
@beckyconning Sorry, I didn't see that one. 😦 Yes, we can close that one or this one, whichever.

[2017-03-04 01:53] zeeiyerWork commented on #1940
Since this is a mega-mega project, @jdegoes suggests breaking this down into more fine-grained tasks - @sellout can you please do that? <Thanks>

[2017-03-06 13:36] #1939 closed

[2017-03-06 13:36] beckyconning commented on #1939
Replaced by #1941

[2017-03-06 14:25] evandrofg commented on #1929
Thank you for the work around @sellout, worked perfectly.

[2017-03-06 16:54] rabbitonweb commented on #1907
**Should be fixed in SparkCore:**
`typeOf.test` - `MapFunc` `TypeOf` must be implemented in `CoreMap`
`multitypeFlatten.test`, `likeWithConstantFoldablePattern.test`, `different-flattens.test` - gives wrong results, problems with LIKE, must investigate

**QScript bugs:**
`statesByShortestFirstCity.test`, `singleFieldOrderedDistinct.test`, `LocationCount.test` - issue is that any `select foo from b

[2017-03-06 16:59] alissapajer commented on #1907
@rabbitonweb can you make individual tickets for the QScript bugs that don't have tickets already?

[2017-03-06 17:00] #1316 closed

[2017-03-06 17:00] #1923 closed

[2017-03-06 17:01] rabbitonweb commented on #1907
@alissapajer I will double check if tickets exits

[2017-03-06 17:30] alissapajer opened #1943 "First-class joins in LogicalPlan"
Implement first-class joins in `LogicalPlan`. Instead of joins being represented as yet another function, we will represent them using their own structure, which will allow us to reference the left and right side branches. This branch information will then be passed along to `QScript`, which will mean that `QScript` will no longer have to perform lots of work to determine which branch is which and

[2017-03-06 17:31] alissapajer commented on #1866
Fixable after #1943 is fixed.

[2017-03-06 17:32] alissapajer commented on #1539
Fixable after #1943 is fixed.

[2017-03-06 17:34] alissapajer commented on #1553
@djspiewak this might be something you address in your work towards the fallback evaluator. If so, feel free to move this back to 4.2.

[2017-03-06 17:42] alissapajer commented on #1896
Since #1895 has been closed, I'm closing this issue. @sellout do you want to make another ticket about the `$size` expression?

[2017-03-06 17:42] #1896 closed

[2017-03-06 17:52] wemrysi opened #1944 "Fixpoint representation of LogicalPlan Types"
Convert our representation of types for `LogicalPlan` into fixpoint style in order to be able to use and annotate them for Statistical Structural Types (#1715) as well as take advantage of the machinery matryoshka provides.

If time permits will replace the existing type representation with this one, otherwise the goal would be to define `matryoshka.Recursive|Corecursive` instances for the existin

[2017-03-06 18:01] zeeiyerWork commented on #1732
Chatted with @djspiewak last week. Of course, we need to get past Phase-1 by the April time-frame,  given heightened expectations from the business.

But 1 question/issue presumably for a phase2 is about how this will play with SlamD HA. In that

So does NIHDB offer a HA configuration, or does this mean that we need to advise customers for whom HA matters, to use Shared-Disk (NFS-mounted or SAN or

[2017-03-06 18:03] jdegoes commented on #1732
It will definitely not be highly-available in the initial release. Quasar Clustering can use replication to achieve this, or in the interim, customers can use an HA file system.

[2017-03-06 22:45] zeeiyerWork commented on #1714
@jdegoes fyi -> Talked to @drostron last week.

Discussed a few things (primarily around things folks expect from a caching implementation -> declarative TTL/TTI, Cache-Priming (Cache Job Tracker) + Lazy Loading, Spilling to Off-Heap Storage or local disk or Server Side + Operational Ease around runtime manipulations of cache). As such several may therefore have invested in a MemcacheD, Alluxio, T

[2017-03-07 05:13] #1920 closed

[2017-03-07 07:58] rabbitonweb commented on #1666
Spark Connector spark-local is running on Travis! This covers majority of possible errors for all sparkcore dependent connectors

[2017-03-07 07:58] #1666 closed

[2017-03-07 08:00] rabbitonweb commented on #1764
Fixed in https://github.com/quasar-analytics/quasar/pull/1922

[2017-03-07 08:00] #1764 closed

[2017-03-07 15:38] #1790 closed

[2017-03-07 16:58] wemrysi opened #1948 "MarkLogic passing all applicable query regression tests"
A catch-all issue to track the remaining query regression tests that are failing for MarkLogic. Only those that are expected to pass are listed here, connector-specific tests for other connectors are omitted.

Test | Notes
------|--------
caseVariations.test| Ordering after `distinct`.
caseWithGroup.test| Ordering after `distinct`.
citiesByLargestZip.test| Ordering after `distinct`.
different-flat

[2017-03-07 22:13] drostron opened #1950 "Slow QScript plan generation"
A few `explain`s with approximate timings from the repl:

[code]
~ 1 minute

---

[code]
No return after a few minutes (canceled)

---

[code]
~ 45 seconds

---

[code]
~ 1 second

[2017-03-08 02:19] jdegoes commented on #1950
@alissapajer This takes precedence over the join work.

[2017-03-08 03:18] alissapajer commented on #1950
@jdegoes I'm on it.

[2017-03-08 10:53] rabbitonweb opened #1951 "different-flattens.test returning too many results"
When running `different-flattens.test` spark-hdfs & spark-local gets the right result `{ "name": "Mary Jane", "age": 29, "title": "Dr" }` but with different cardinality. Test expects 4 values, spark gets 32.

Details in https://gist.github.com/rabbitonweb/1a4819d6e04fecfa630e7395dddca15e

[2017-03-08 11:08] rabbitonweb commented on #1951
Same issue seem to be with `multitypeFlatten.test` Also right set of results but duplicated multiple times

[2017-03-08 13:34] rabbitonweb commented on #1900
Specification for new `connectionUri`

[2017-03-08 15:59] jdegoes commented on #1951
Holy batman, that's one complex QScript graph!

[2017-03-08 16:42] alissapajer commented on #1951
This is likely the same issue as #1929 - an issue with provenance in `QScript`.

[2017-03-08 18:37] sellout commented on #1940
These apply upstream of the connector, but fix issues that make it difficult to generate plans that are competitive with pre-QScript Mongo.
- [ ] apply PruneArrays to branches
- [ ] fix provenance on autojoins (#1929, #1951)

These are Mongo-specific.
- [ ] fix remaining failing integration tests (unless they also fail on old Mongo)
- [ ] compare timing of planning+execution between old and new Mo

[2017-03-08 21:04] alissapajer commented on #1940
Tickets for `PruneArrays` work are #1794 and #1793.

[2017-03-08 21:52] damonLL commented on #1950
@drostron also noticed that when using `*` instead of specific fields in the `SELECT` clause it comes back very quickly.  Also the more fields that were added, the longer it took.

[2017-03-08 21:54] alissapajer commented on #1950
@damonLL thanks for extra the info. This is similar to what I fixed before, so I need to figure out how to make our `QScript` optimizations resilient to this once and for all. The difference here seems to be the added `join`.

[2017-03-08 21:58] djspiewak opened #1953 "Upgrade to Scala 2.12.1"
This is a meta issue to track the chain of dependencies and stuff that we need to address to upgrade to 2.12.  Some of these are relatively easy, some of them are impossible.  Note that upgrading to 2.12 would allow us to use [`-Yinduction-heuristics`](https://github.com/scala/scala/pull/5649), which will greatly accelerate our compilation times (though a cursory glance at our implicit chains indi

[2017-03-08 22:07] drostron commented on #1953
The CB project relies on rxscala to smooth interaction with Couchbase's RxJava style client interface.

[2017-03-08 22:20] rabbitonweb commented on #1953
Apache Spark is a pain :( Not likely to happen soon.

[2017-03-08 22:21] rabbitonweb commented on #1953
Targeted version `2.3.0` https://issues.apache.org/jira/browse/SPARK-14220 which means not less then 4 months from now

[2017-03-08 22:24] sellout commented on #1953
The other big plus with this upgrade is getting better exhaustivity checking. I know we have a number of inexhaustive matches because of extractors/guards that silently break exhaustivity. I’ve removed some extractors (with more to go), but without any word from the compiler, it’s impossible to know that you’ve actually covered everything.

[2017-03-08 22:26] sellout commented on #1953
@djspiewak If we can get most dependencies updated to versions that have 2.11 & 2.12, we can at least _locally_ take advantage of 2.12 for parts of the tree (e.g., to check exhaustiveness).

And more motivation to break things into separate repos – we can cross-build most of them, and just have sparkcore and whatever else only build on 2.11.

[2017-03-08 22:28] djspiewak commented on #1953
@sellout Yeah I'm going to work toward this incrementally.  To your second point though, we would still need to cross-build to 2.11, largely negating the advantages of being on 2.12 in the first place (at least from a CI standpoint) since, ultimately, the backends have to be bundled back together for distribution.  So as long as we have that requirement, all of the backends need to be on the same

[2017-03-08 22:31] sellout commented on #1953
Right, we’d need to cross-build, but we’d gain the improved exhaustivity in CI. Yeah, it wouldn’t speed up builds, but it would improve correctness. And I think we want to cross-build on 2.11 anyway, since we want to make Quasar (the “interface” subproject) available as a library dependency.

[2017-03-08 22:48] djspiewak commented on #1953
@sellout Oh, sidebar: it's actually possible to locally build different subprojects with different Scala versions, it's just not done very often.  In order to make it work, dependent projects would need to be cross-built, but it's a path to achieve the cross-build vision before polyrepo.

[2017-03-08 23:49] alissapajer commented on #1950
Ok I just brought down the compilation time of the ~45 second query above to ~0.8sec spent in main `QScript` compilation. Now 0.8sec is still way too slow in the big picture, and I'll do some more investigation here in case there is more low-hanging fruit.

Also the query in the bug report that never returned, returned the `QScript` in ~0.9sec. Again too slow for what our customers need, but much

[2017-03-09 00:16] alissapajer commented on #1950
Just a touch more documentation of timing: I'm seeing the "never" query returning in couchbase in a total of ~2.0 seconds. So half the time is `QScript`, half is elsewhere.

[2017-03-09 18:07] jdegoes opened #1954 "epic: Connector: New Mongo Preparation Work"
This is an epic ticket to track a series of upgrades that we need to make to the MongoDB connector.

Where functions do not exist in the standard library, they should be added to the standard library and crafted to follow PostgreSQL conventions, subject to the following caveat:

 * Functions that can be implemented in terms of other more elemental functions (e.g. `floor x = x - (x % 1)`, `ceil x =

[2017-03-09 18:20] sellout commented on #1954
Things like `$reduce` and `$map` on arrays need to be identified as `LeftShift; Reduce` and `LeftShift; Map; Reduce(UnshiftArray)` patterns in QScript. May even be worth adding a transformation to QScript for that.

I _thought_ `LEFT JOIN` (and `RIGHT JOIN`) already used `$lookup` when possible, but I could be wrong.

Why does `$slice` require a change to the semantics of `[foo[0 .. 2] ...]`?

[2017-03-09 18:24] jdegoes commented on #1954
Because `0 .. 2` produces a set, which means `foo[0 .. 2]` is equivalent to `foo[0] UNION ALL foo[1] UNION ALL foo[2]`, which means if you try to reduce it, it will reduce the entire set into an array. Instead, it would be ideal if `foo[0 .. 2]` added a new dimension comprised of the index (a project-index type operation), allowing subsequent array reduction to eliminate the dimension, which would

[2017-03-10 21:25] rabbitonweb commented on #1716
- [ ] QA typeclasss to collect info aobut qscript template

- [ ] Implement QA typeclass

- [ ] Implement QA algebra for sparkcore

- [ ] Implement QA algebra for makrlogic

- [ ] Implement QA algebra for couchbase

[2017-03-11 00:10] #1950 closed

[2017-03-11 00:21] alissapajer commented on #1695
@wemrysi  I was no longer able to reproduce this bug, and instead was able to just activate the integration test. My best guess is that some fixes in #1933 fixed this, but I haven't verified that hypothesis.

[2017-03-11 23:05] #1935 closed

[2017-03-12 16:21] jdegoes opened #1960 "Take advantage of MongoDB array matching semantics"
Quasar generated physical plans for MongoDB currently `$unwind` to perform any filtering on arrays. However, MongoDB cannot "see through" unwind, which means that array indices cannot be taken advantage of in any so-compiled query.

To fix this problem, we should ensure that an initial `$match` contains as much of the predicate as we can faithfully push to the front of the query. Note that it does

[2017-03-13 03:49] fanouxTomo opened #1961 "Add parsing for non base-10 numbers from strings."
This will help to convert hexadecimal coded numbers.

[2017-03-13 14:59] #1695 closed

[2017-03-13 19:03] natefaubion opened #1963 "Invalid selector for DATE_PART: "isodoy""
Both the docs on quasar and slamdata mention "isodoy" as a DATE_PART, but the backend says it is invalid. I also tried "isoday" in case it was a typo, but that fails as well.

[2017-03-13 19:08] sellout commented on #1963
It should be valid – but it’s possible it’s not implemented for specific connectors (I know Mongo is missing one or two date part implementations). The exact error message will help us identify if it’s failing in a connector or before (and we can update the message to make it clearer that it’s part of Quasar, but not implemented by a particular connector).

[2017-03-13 19:10] natefaubion commented on #1963
The status is "Invalid mount configuration", which I assume means that it's not implemented by the connector.

[2017-03-13 19:24] sellout commented on #1963
Ok, so I don’t know why this is categorized as “invalid mount configuration”, but it looks like `"isodoy"` is missing from the SQL->LP compiler.

Thanks.

[2017-03-13 19:55] wemrysi commented on #1963
@natefaubion Did you receive the error in response to creating a view mount with this query?

[2017-03-13 19:57] natefaubion commented on #1963
Oh that must be it! Didn't even think about that :)

[2017-03-13 20:44] sellout commented on #1963
So, some more general thoughts (as always). We should probably provide _only_ the ISO parts in LP. SQL wants other parts, but we can compile those to more complex expressions.

[2017-03-13 21:35] sellout commented on #1894
@drmikecrowe In your data example `"item"` is a String. It’s fine to call `TO_STRING` on a String, but I wonder if `"item"` is actually stored differently, because I’m not sure how we could get “decoding Long failed” otherwise.

[2017-03-14 03:31] drostron opened #1966 "MongoDbQJsStdLibSpec Century TemporalTrunc failure"
[Travis log](https://travis-ci.org/quasar-analytics/quasar/jobs/210648450#L711)
[code]

[2017-03-15 00:25] #1966 closed

[2017-03-15 16:00] drmikecrowe commented on #1894
@sellout I'm 100% positive it's stored as a string in Mongo

[2017-03-15 16:02] drmikecrowe commented on #1894
@sellout  I'm 100% positive it's stored as a string.  If you like, I can email you and example (the actual data is a sensitive item, so I'd rather not post it here if possible)

[2017-03-16 12:31] beckyconning commented on #1715
When this is done please notify #frontend : ) Thanks! : )

[2017-03-16 12:34] beckyconning opened #1973 "Refactor authentication."

[2017-03-16 12:34] beckyconning opened #1974 "Rework authentication UX."

[2017-03-16 12:35] beckyconning commented on #1974
Wrong repo.

[2017-03-16 12:35] #1974 closed

[2017-03-16 12:35] beckyconning commented on #1973
Wrong repo.

[2017-03-16 12:35] #1973 closed

[2017-03-16 15:25] wemrysi commented on #1715
@beckyconning Sure thing!

[2017-03-17 21:10] djspiewak opened #1978 "Implemented unified coalescense"
In order to implement the backend abstraction, we need the ability to infer the applicable coalesce functions based on the qscript coproduct declared.

[2017-03-17 22:52] zeeiyerWork commented on #1730
@nicflores , @jdegoes -> Fyi , for now the goal is not necessarily to rip out Travis. Agreed that we should minimize any dependencies, so we can plug/play any CI with minimal fuss. We are trying to fix things without necessarily switching the CI, via working with Travis support on possible options and upgrades. More can be gleaned [here](https://docs.google.com/document/d/1DwabbFo-vPfKjMnHT1VmWO-3

[2017-03-17 22:59] zeeiyerWork commented on #1715
@wemrysi  -> To our discussion of stuff just being in people's heads, could be break down to a more fine-grained level. Basically, trying to understand the ETA, when @beckyconning can jump on this from the front-end POV. Also if any of these sub-tasks can be assigned to Juan Pablo or Nic, let me know. ...Thanks.

[2017-03-17 23:01] zeeiyerWork commented on #1715
@wemrysi , @beckyconning  -> Also, do we intend to provide a parameter to control scope of discovery (i.e. default = Qscript picks a sample of 1000 records), But can front-end override that behavior, by asking the backend to either pick top/random 5000 or N or specify that the discovery be based off the entire data-set.

[2017-03-20 16:02] zeeiyerWork commented on #1730
Fyi -> https://docs.travis-ci.com/user/docker/

[2017-03-20 16:19] jdegoes commented on #1712
@zeeiyerWork This too is a priority in order for people to use Spark without manual (and currently undocumented) configuration.

[2017-03-20 16:28] rabbitonweb commented on #1712
@jdegoes the configuration is documented but only for ppl building their own version of quasar (or did you mean something else?)

[2017-03-20 16:36] zeeiyerWork commented on #1712
@rabbitonweb, @damonLL, @veryfatboy -> I believe we are talking about documentation for end-users , we are getting reports from the field about problems.

[2017-03-20 16:50] jdegoes commented on #1954
@zeeiyerWork This is an epic and will have to be broken into lots of tickets, probably multiple engineers working on this will be required to ship this by end of Q3.

[2017-03-20 17:02] zeeiyerWork opened #1981 "Quasar Repository Re-organization."
Currently Quasar is considered to be too monolithic. This results in long build times (e.g. 100 minutes build time , 600 minutes total time). This ticket is the EPIC which will in turn point to multiple smaller tickets.

The hope is to break out Connectors and other "logical" pieces into their own repositories and then building inter-repository dependencies, so as to achieve the desired level of m

[2017-03-20 17:41] djspiewak opened #1982 "Experiment with caching */target/"
We may be able to aggressively cache `target/` in Travis for PR builds only (cleaning it out on master).  This should, in theory, allow us to have much faster (incremental) PR builds while still maintaining reproducible and trustworthy master builds.

[2017-03-20 17:41] wemrysi commented on #1715
@zeeiyerWork There are some tasks in the description that break this epic down a bit, some of which are reasonably fine-grained (serialization, need for an http endpoint, fixpoint repr of type) and the others less so as what those tasks actually involve isn't quite clear yet. I plan to create individual issues for them as I begin work to track progress/discussion on them like I did for #1944.

As

[2017-03-20 17:45] jdegoes commented on #1715
The front-end has no way of knowing whether 1000 records is meaningful or not. Essentially, the front-end can provide requested latency bounds, and the backend can do whatever it thinks will retrieve the SST in the desired amount of latency. In addition, the front-end can and should provide "compression settings" indicating how much information the front-end wishes to use in describing the SST (ho

[2017-03-20 17:47] djspiewak opened #1983 "Rewrite/conversion inference"
In the style of unicoalescensce (#1979), we should be able to implicitly deduce the rewrites necessary to massage qscript into the form requested by the types.

[2017-03-20 17:53] djspiewak opened #1984 "Extend and apply linearized `Coproduct` encoding"
I'm relatively certain that a significant chunk of our current compilation inefficiencies comes from the binarized nature of the `Coproduct` encoding.  This is something that I feel could be fixed upstream (i.e. in cats) with a nicer `Coproduct` in the style of FreeK which is both easier to use and faster to compile.

For context, symmetric binarized type constructors (like `Coproduct`) necessitat

[2017-03-20 18:32] damonLL opened #1985 "Ability to specify timezone in query"
Request for enhancement to specify timezone in query, instead of the default GMT / Zulu.

Example would be to group by date using CST instead of GMT/Zulu.

The workaround now might be to use `INTERVAL` like:

[code]

Is there a better / more standardized way of doing this?  The example above would not survive daylight savings transitions and would need to be updated twice a year.

[2017-03-20 18:54] alissapajer opened #1986 "'Create folder' errors for marklogic and couchbase in http interface"
In the couchbase mount, when I click on 'Create folder' I get the error:
[code]
In the marklogic mount, when I click on 'Create folder' I get the error:
[code]
I haven't tested 'Create folder' for spark. It succeeds for mongo.

[2017-03-20 18:55] alissapajer commented on #1986
Oh, I should probably put this bug report in the slamdata repo.

[2017-03-20 18:59] drostron commented on #1986
@alissapajer Is this a root folder within a CB mount? If so, that isn't currently supported. #1740 will address it.

[2017-03-20 19:11] alissapajer commented on #1986
@drostron Yes it's a root folder within a CB mount. If I try to make a folder inside `beer-sample`, for example, that succeeds.

[2017-03-20 19:13] drostron commented on #1986
@alissapajer Ok, then yes, that failure is currently expected. The error message is unfortunately opaque and not helpful.

[2017-03-20 19:43] jdegoes commented on #1985
I am not sure exactly what you are asking for. Can you find equivalent functionality in Postgres so we can simply replicate the corresponding Postgres function?

[2017-03-20 19:47] zeeiyerWork commented on #1715
![image](https://cloud.githubusercontent.com/assets/24783629/24118343/0b06a062-0d73-11e7-859c-241011374536.png)
Agreed - that this is an enhancement to the core feature. Lmk, if capturing it here is confusing - my goal was to capture it, so it does get lost in some google doc.
And yes, this is from the PERSONA of an Advanced User/Administrator, who may want to specify where on the LATENCY versus C

[2017-03-20 20:00] sellout commented on #1715
At least in (newer versions of) Mongo you can `$sample` the whole collection and get back a cursor to the collection with the documents in a random order. Which would let us effectively keep refining our response by processing the stream until we hit the time limit.

I don’t know 1. how the performance on reading 1k records this way compares to `$sample(1000)`, or 2. if this sort of thing is gener

[2017-03-20 20:25] zeeiyerWork commented on #1546
Check to see if this is a duplicate of another issue.

[2017-03-20 20:27] zeeiyerWork commented on #1537
Looks like there is a workaround - confirm if this is a bug or not.

[2017-03-20 20:29] zeeiyerWork commented on #1472
May be fixed - please take a look in May to confirm that it is not reproducible.

[2017-03-20 20:31] zeeiyerWork commented on #1298
Just ensure that this is fixed - once we switch to "Qscript-based" Mongo connector.

[2017-03-20 20:53] damonLL commented on #1985
@jdegoes, something like `AT TIME ZONE` ?  [Postgres Example](https://www.postgresql.org/docs/9.2/static/functions-datetime.html#FUNCTIONS-DATETIME-ZONECONVERT)

[2017-03-20 21:05] zeeiyerWork commented on #1951
@alissapajer - assigning this to you, since you seem knowledgeable about this. If not appropriate please reassign. We do need to fix this in 4.2 (John confirmed), since this is about correctness. We also have a couple of people from the field reporting issues with the Spark connector.

[2017-03-20 21:14] jdegoes commented on #1985
@damonLL That looks good to me. Is this for paying customer, demos, prospects, or a user?

[2017-03-20 21:28] damonLL commented on #1985
@jdegoes paying customer

[2017-03-20 21:29] zeeiyerWork commented on #1714
Also asked @drostron to investigate what it would take to show an example integration to a 3rd party cache (e.g. Ehcache). Feel that the minute one implements a cache, consumers want statistics (cache hit ratio, cache size, histograms around cache population etc.) and control (e.g. blowing away the cache) etc. Hence the value to integrating to a 3rd party cache, which is already fully-baked. Furth

[2017-03-20 21:52] zeeiyerWork commented on #1804
Oldish bug - just needs to be verified as to whether it is still occurring

[2017-03-20 22:04] jdegoes commented on #1714
@zeeiyerWork IMO there is no point in investigating that right now without the fallback evaluator. If the result set is not stored inside the database, then we cannot perform any computation on it. The front-end assumes that any cached data set can be further transformed. Therefore, supporting an external cache is not really possible in any useful way until the fallback evaluator has been complete

[2017-03-20 22:13] jdegoes commented on #1985
@zeeiyerWork Let's get this into the June milestone.

[2017-03-20 22:39] wemrysi commented on #1570
Closing as the described functions either no longer exist or have coverage as part of the general `StdLibSpec` or MarkLogic-specific `StructuralPlannerSpec`. There is also now ample testing infrastructure to easily add ad hoc tests of `XQuery` library functions that may arise in the future.

[2017-03-20 22:39] #1570 closed

[2017-03-20 22:42] wemrysi commented on #1506
Ideally this would happen after the move to `TypeOf`due to the ease of implementation.

[2017-03-20 22:42] djspiewak opened #1987 "Adjust or remove VFS stuff in Table"
A lot of the VFS and API permissioning stuff in precog is going to get in the way of how we want to use it in quasar.  I may have to bribe @nuttycom with some high quality coffee to acquire knowledge of what it all means…

[2017-03-20 22:49] zeeiyerWork opened #1988 "Implement naive LeftShift"
`Table` doesn't implement a `LeftShift` operation, nor does it have the primitives with which one can be implemented.  This is easily seen because array pivots were the very next thing on our TODO list at EOL on Precog.  This would need to be a new primitive function on `Table`.

[2017-03-20 22:50] zeeiyerWork opened #1989 "Figure out storage stuff (JDBM/NIHDB?)"
I think @paulp's current branch is still wired up to JDBM.  That's not a terrible solution just to get things running, but it might be just as easy to rewire NIHDB, especially since we're already resurrecting things more or less en masse.

[2017-03-20 22:52] nuttycom commented on #1987
I accept such bribes. :D

[2017-03-20 22:52] djspiewak commented on #1987
Incoming…

[2017-03-20 22:53] zeeiyerWork opened #1990 "Fiddling with grouped reduction (groupByN/partitionMap)"
`Table#groupByN` is clearly an incredibly powerful primitive, but it's possible that we don't even need it to implement the grouped reduction functionality which is in qscript.  It seemed at first glance like we might be able to implement this via `partitionMap`.  If that's the case, it would likely be vastly more efficient and long-term easier to maintain.

Either way, it has to be implemented.

[2017-03-20 22:54] #1978 closed

[2017-03-20 22:54] zeeiyerWork opened #1991 "Fiddling with grouped sorting (partitionMap?)"
Similar to #1990, grouped sorting is something that isn't natively on `Table`, but might be doable with `partitionMap`.  If it's not doable with `partitionMap`, it's *certainly* doable with `groupByN`.

[2017-03-20 22:55] zeeiyerWork opened #1992 "Enable all 1:1 mapfunc stuff"
For all the sql^2 mapfuncs in quasar, if there's already a 1:1 mapping on top of `Table`, do that.  Otherwise, don't.

[2017-03-20 23:07] zeeiyerWork commented on #1732
The 1st phase is likely to finish the following in the 4.2 iteration (see related Gist @ https://gist.github.com/djspiewak/0bea536a6658589c5e4138d950e44ae4)
- Backend Abstraction
- Coalescence
- Simplifications
- Implementation in existing connectors (Marklogic, Couchbase, Spark, Maybe Mongo?)

Then we get to the next set of issues....The ones included as of today and (Scheduled for may2017 and ju

[2017-03-20 23:13] zeeiyerWork commented on #1712
@rabbitonweb -> This would imply that you get familiar with our installers.

[2017-03-20 23:45] zeeiyerWork opened #1993 "Improve Build Times, so Application Developer Feedback cycles are shortened."
Many possibilities - see https://docs.google.com/document/d/1DwabbFo-vPfKjMnHT1VmWO-3dkjQEAnaADFIda1z83k/edit

In addition - @djspiewak , @nicflores -> worked on a way to (based on a Travis environment variable) to cache target directory for PR (but not for master), given lack of trust on the correctness of build-artifacts, generated thusly.

[2017-03-21 01:33] zeeiyerWork commented on #1714
Thanks for the clarification - understood, I think. Although it seems we have 2 use-cases.
1. A Slam-Data mutable cache
2. A Slam-Data "terminal-state" cache - where this is the end result of a set of cards - and we we don't want a new user accessing this pipeline to execute everything, but just get to the final result/report/visualization when this kind of a 3rd party cahe makes sense. e.g. parit

[2017-03-21 01:34] wemrysi commented on #1627
I think this will require some analysis which we can hopefully perform most of on `QScript`, but might also require a better `XQuery` representation that is amenable to analysis and transformation.

[2017-03-21 04:05] sriksrin opened #1994 "MongoDB: Timestamp values changes after Flattening"
Hi,

 I created a sample document in MongoDB for knowing how flattening works.

This is the document i created

 {
   "dvcid":"1_!",
    "ts":  ISODate("2017-01-01T00:00:00Z"),
    "temp": {
           "0": 20,
           "1": 30,
           "2": 24,
           "3": 23
        }
}

when, queried without flattening i.e.
  SELECT dvcid,
ts,
temp
FROM `/test/test/test1`

the ts values shows the prope

[2017-03-21 14:15] garyb opened #1995 "Readme is missing some information about connection formats"
In the section [here](https://github.com/quasar-analytics/quasar#database-mounts) there's a full example of a MongoDB mount, but for the other connectors on the connection URI is listed, and not the mount type name used as the key above the `connectionUri`:

[code]

Can we get some clarification on what these values should be? We're assuming `mongodb`, `marklogic`, `couchbase`, but we've discovere

[2017-03-21 14:46] wemrysi commented on #1505
This will likely require more plan analysis and breaking joins up into multiple steps rather than the single (naive) `FLWOR` expression currently used.

[2017-03-21 14:49] wemrysi commented on #1626
Some effort to identify which types of aggregations we can optimize will be required, straightforward field aggregations should be easiest, I'm not yet sure if aggregations of/over computed values can benefit from the aggregation facilities.

[2017-03-21 14:49] sellout commented on #1505
@wemrysi As always, think about ways that QScript could potentially make this easier.

In Mongo, all joins are outer joins (full outer in `mapReduce` or left outer in `$lookup`), and we post-filter cases with undefined values on one side or the other.

[2017-03-21 15:05] wemrysi commented on #1627
Some effort in reducing the cases, if possible, where `QScript` plans perform "filtering" during a mapping operation (by storing the result of a relation in some structure, usually an array, and then projecting the resulting boolean out during the `filter`) would probably also help here.

[2017-03-21 18:18] nicflores commented on #1730
Here are some thoughts I'd like to get out there regarding this task.

Several ideas come to mind.

**First**: In order to have developers run isolated tests against containerized connectors they will need to have docker installed locally on their development machines. Depending on the OS the developer is running they would need to go through an installation process outlined [here](https://docs.do

[2017-03-22 00:24] zeeiyerWork commented on #1470
Maybe this just goes away with the new Mongo Connector - so we just need to check that !

[2017-03-22 00:26] zeeiyerWork commented on #1929
Seems like we a workaround - so we just need to confirm that this behavior does not repeat after the switch to the new Mongo Connector

[2017-03-22 00:27] zeeiyerWork commented on #1963
Does not seem like an urgent issue - so pushing to May2017 iteration

[2017-03-22 00:29] zeeiyerWork commented on #1994
Sounds like this is a correctness issue - and hence important to fix. Let's see if this behavior goes away with the new Mongo connector. !

[2017-03-22 01:38] jdegoes commented on #1929
@zeeiyerWork This is a truly horrible workaround so let's make sure it's fixed in the new one.

[2017-03-22 16:14] rabbitonweb commented on #1712
@zeeiyerWork yes, this requires undestanding how installers works

[2017-03-22 18:00] nicflores commented on #1993
This line:

` 21   - ./scripts/installMongo mongodb-linux-x86_64-${!MONGO_LINUX} mongo ${!MONGO_PORT} ${!MONGO_AUTH}`

in the `.travis.yml` file of quasar installs mongodb inside the container in which the tests run. Instead we should use the docker environment provided by Travis to pull mongodb images from docker hub and use them during testing. Using something like:

[code]

we can bring up all

[2017-03-23 16:38] jdegoes opened #1999 "epic: Connector: MarkLogic Overhaul"
# Usability

The connector should require no manual setup process before it's fully usable.

 - [ ] TDB: List issues here.

# Generate Optimal XQuery

Generated XQuery should be compact and algorithmically efficient.

 - [ ] TBD: List issues here.

# Index Enhancements

Predicates on indexed data should leverage those indices to the maximum extent possible.

 - [ ] TBD: List issues here.

# Aggreg

[2017-03-23 16:39] jdegoes commented on #1999
@zeeiyerWork This needs additional specification. I'm sure @wemrysi can help fill out and we can do some independent investigation on whatever remains.

[2017-03-23 16:56] jdegoes opened #2000 "epic: Connector: Couchbase Overhaul"
# Joins

 - [ ] Support equi-joins on calculated fields
 - [ ] Support non-equi inner joins via cross / filter
 - [ ] Support non-equi outer joins

# N1QL Generation

Generate efficient and compact N1QL.

 - [ ] TBD: List issues here

# Analytics Service

Transparently generate SQL++ for the analytics service when present.

 - [ ] TBD: List issues here.

# Text Search

Support Couchbase's text sea

[2017-03-23 16:56] jdegoes commented on #2000
@zeeiyerWork Same for this one, @drostron can help fill in some detail.

[2017-03-23 17:38] nicflores commented on #1730
I gave @drostron a quick demo of docker compose yesterday and demonstrating that using a command like `docker-compose up mongo26 mongo30` bring ups those specific databases in containers locally. A plain `docker-compose up` would being up every service defined in the `docker-compose.yml` file. Dave and I agreed that if developers had docker installed this would help ease db setup for integration t

[2017-03-23 17:56] jdegoes commented on #1730
Ultimately it'd be nice to have an SBT task to pull down Docker / Docker Compose.

[2017-03-23 18:53] sellout opened #2001 "Add tests for identity semantics."
We need some cross-connector tests that verify various properties of MRA identity.

E.g.
- all elements in a set have a unique id
- if an identity-creating operation (`ShiftedRead` and `LeftShift`) is executed twice in a query, the ids should be the same (don’t know how to test this in a connector-agnostic way, but I hope we don’t need the stronger condition of multiple identical operations requir

[2017-03-23 19:46] jdegoes opened #2002 "epic: Connector: Spark Overhaul"
- [ ] Implement direct codecs that eliminate intermediate transforms
 - [ ] Do not compile to Spark ops that result in a chokepoint
 - [ ] Support data frames for regular data
 - [ ] TBD

# File Formats (covered in #1718)

 - [ ] Support CSV files
 - [ ] Support Hive tables
 - [ ] Support anything with a SerDe
 - [ ] Support ORC
 - [ ] Support Avro
 - [ ] Support XML files
 - [ ] Support EJSON fil

[2017-03-23 19:46] jdegoes commented on #2002
@zeeiyerWork Same here, @rabbitonweb can help flesh this out a bit based on known limitations & possible improvements.

[2017-03-23 20:52] damonLL opened #2003 "MongoDB Atlas 3.4 Support"
Quasar (and in turn SD) is unable to connect to [MongoDB's Atlas](https://www.mongodb.com/cloud/atlas) cloud offering when Atlas users select MongoDB 3.4 as their cluster version.  MongoDB version 3.2 clusters appear to work.

Also note that we demo against MongoDB 3.4 frequently without issue, but that is outside of an Atlas hosted environment.

[2017-03-24 11:03] beckyconning commented on #1792
@jedesah hi! would you be up for talking me through where you're up to and what you've got left at some point today or on monday?

[2017-03-24 16:47] emptyslot commented on #1880
Another example of this if it helps:
Quasar release 14.5.7, Linux (Ubuntu 12.04. Also tried 16.04), OpenJRE
MongoDB backend: 3.2.10

Collection size: ~1600 documents

Query:
`SELECT objects.uri, objects.info.id FROM objects WHERE objects.annotations[*].project_id = "some_project_id"`

Document structure:
`{
  uri: "xxx",
  "info": {"id": "yyy"},
  "annotations": [
    {
      "project_id": "zzz",

[2017-03-24 22:12] nicflores commented on #1730
@jdegoes, @drostron and I have been bouncing ideas off each other on that topic. I found this [sbt](https://github.com/Tapad/sbt-docker-compose) plugin which might help once a developer has docker and docker-compose installed. As for getting docker on developer dev machines @drostron found this linux [script](https://get.docker.com) which may help. I'm still on the hunt for something similar for m

[2017-03-26 02:42] jedesah commented on #1792
@beckyconning Happy to do so! How about we do that on Monday. In case you didn't notice already, I've been check marking the subtasks that are done. Although, unfortunately, a few of the ones marked as done have not yet been merged to master (we're still are pretty bad about review times)

[2017-03-27 19:11] djspiewak opened #2006 "SQL round-trip spec can generate non-RTable SQL"
Alissa opines that this is probably because we're generating `_` as an identifier.

[code]

[2017-03-27 19:17] alissapajer commented on #2006
Yes, it seems that we are generating `_` as a variable name in scalacheck and it is aligning such that on the way out we produce a `ShiftArrayValues`. I still need to see what the actual sql^2 is in the middle, but I don't think that `_` should be a valid identifier in sql^2 since we use it as a special character. It's most likely that the scalacheck generator just isn't omitting this value.

[2017-03-27 19:50] beckyconning commented on #1941
As we need to know what variables are required by a query (i.e. written by a deck author) we can not use only processes so without this feature we can not introduce processes into the front end. Currently no-one is assigned to this issue so shall we move https://github.com/slamdata/slamdata/issues/1474 and https://github.com/slamdata/slamdata/issues/997 to April?

[2017-03-27 19:50] beckyconning commented on #1941
@jedesah @garyb

[2017-03-27 19:59] jedesah commented on #1941
@zeeiyerWork Happy to work on this once I am done with the next two subtasks on #1792. I can do this before the third subtask (imports) since they are not required by the front-end for this upcoming release.

[2017-03-27 19:59] zeeiyerWork opened #2007 "epic: Connector: PostgreSQL Initial Implementation"

[2017-03-27 19:59] zeeiyerWork commented on #2007
Connector for PostgreSQL

[2017-03-27 20:28] zeeiyerWork opened #2008 "epic: QScript: Improvements: Phase-A"
More urgent qscript improvements.

[2017-03-27 20:28] zeeiyerWork commented on #2008
All QScript enhancements slotted for first 1/2 of 2017

[2017-03-27 20:35] zeeiyerWork opened #2009 "epic: Devops: CI Overhaul: Phase 1 (Squeeze the most via Travis-CI S/W + Config)"

[2017-03-27 20:37] zeeiyerWork opened #2010 "epic: LogicalPlan: Overhaul: Phase A"

[2017-03-27 20:42] zeeiyerWork opened #2011 "epic: Metastore: Overhaul: Phase A"

[2017-03-27 20:47] zeeiyerWork opened #2012 "epic: ServerSide Caching: Phase A"
**Children: maintained on a best effort basis:** [#1714, #1889, #1890]

[2017-03-27 20:50] zeeiyerWork opened #2013 "epic: Statistical Structural Types"
**Children: maintained on a best effort basis:** [#1715, #2022]

[2017-03-27 20:52] zeeiyerWork opened #2014 "epic: Connector: Generic Issues"
Container for issues pervasive across all connectors

[2017-03-27 21:00] zeeiyerWork opened #2015 "epic: Devops: Containerization Adoption"
**Children: maintained on a best effort basis:** [#1730]

[2017-03-27 21:01] zeeiyerWork opened #2016 "epic: Query Analysis"

[2017-03-27 21:13] zeeiyerWork opened #2017 "epic: EJSON: Backend adoption"

[2017-03-27 21:19] zeeiyerWork opened #2018 "epic: Engineering Documentation: Phase A"
Container for various Documentation (automated, manual) efforts

[2017-03-27 21:27] zeeiyerWork opened #2019 "epic: SQL²: Enhancements: Phase A"

[2017-03-27 21:34] jdegoes opened #2020 "epic: SQL2 & QScript: Phase B: Completion"
# SQL<sup>2</sup>

Issues targeted at completing support for SQL<sup>2</sup>.

 - [ ] Pattern matching syntax
 - [ ] Pattern matching compilation to QScript
 - [ ] TBD: List of remaining issues

# QScript Compiler Performance

Issues targeted at reducing compiler time on large queries to tens of milliseconds, rather than hundreds of milliseconds or seconds.

 - [ ] Support variables in QScript tha

[2017-03-27 21:35] jdegoes commented on #2020
@zeeiyerWork Both @alissapajer and @sellout need consulting here, and benchmarking will inform various issues. The goal should be to flesh this EPIC out until it reaches a degree of detail that gives us confidence QScript / SQL<sup>2</sup> will be "done" when all issues have been completed.

[2017-03-28 00:12] zeeiyerWork opened #2021 "epic: Miscellaneous Quasar Issues"
A catch-all container for miscellaneous Quasar Issues. Some of the issues here may need to be "re-homed" in other epics (which may or may not exist as of yet).

[2017-03-28 00:14] #1411 closed

[2017-03-28 04:19] nicflores commented on #1730
I've got Marklogic dockerized. The pre-configuration commands within the `installMarklogic` script, i.e. login to marklogic website and download of `Marklogic.rpm`, have been migrated to a `Marklogic-Dockerfile`. The post configuration now lives in a script under a docker directory of the root quasar repo along wth dditional post configuration scripts for mongo, couchbase, and postgresql. In addit

[2017-03-28 15:13] wemrysi opened #2022 "Lossy Structural Type Compression Algorithm"
In order to provide a summary of the structure of a dataset in a space-efficient way, we need to compress the information extracted.

We'd also like to be able to tune how this compression is performed via parameters to give users control over how much information is discarded, probably via specifying space bounds on the resulting structural type.

- [x] Stats annotation for SST
- [x] Entropy/info

[2017-03-28 17:35] wemrysi commented on #2022
The current approach/thoughts on this are to construct an annotated tree representing a type full of literals/consts at the leaves, accumulated in unions where they differ. We'd then compress this structure where compression would mostly mean reducing the size of these unions.

For example, merging these data
[code]
would result in
[code]
Where `N#` represents the number of times that value was ob

[2017-03-28 17:37] wemrysi commented on #2022
@jdegoes I'd appreciate any comments/ideas you might have regarding the above, thanks!

[2017-03-28 22:39] wemrysi commented on #2022
@jdegoes Thanks, the feedback is appreciated.

Regarding lossiness, how will the frontend determine the bound? Will it try various values until it arrives at the desired result? I ask as, say we're using bits to describe information content, how does the frontend know it wants to bound at 1kb and not 10kb without knowing what the data looks like? It seems like some context is required to make the

[2017-03-28 22:54] jdegoes commented on #2022
@wemrysi It will be determined by the intended use of the data. For example, in a dropdown list, the front-end will need extreme lossiness, because it has space to show only a handful of variants before usability suffers; while in a structure editor, much more precision can be used because only a part of the structure is visible at any time.

Other notions could be used, too: for example, measures

[2017-03-30 00:18] #2006 closed

[2017-03-30 18:19] nicflores commented on #1730
Reviewed my current progress with @drostron this morning. We looked at my current `.travis.yml` refactoring and how database containers are being created and configured. We found a couple of small issues I'll be fixing today and once I have a build in my branch that times out we can re-run a build of my branch on the `quasar-analytics` repo.

[2017-03-31 22:03] #1794 closed

[2017-04-04 09:02] rabbitonweb commented on #2002
will do

[2017-04-04 09:03] rabbitonweb commented on #1761
Fixed in https://github.com/quasar-analytics/quasar/pull/2029

[2017-04-04 09:03] #1761 closed

[2017-04-04 15:54] wemrysi commented on #1715
@jdegoes Do SSTs need to reflect metadata in the dataset as well? From a typing perspective the current thinking is that only the value determines the type, but is that also true structurally?

[2017-04-04 16:47] jdegoes commented on #1715
@wemrysi I don't think we need that, at least not now. Since you can always lift metadata into the value level and ask for the schema of that.

[2017-04-04 17:12] alissapajer opened #2034 "Preserve references to actualized synthetic fields in QScript"
In the query
[code]
we sort by an actualized synthetic field named `"__sd__0"` in the `LogicalPlan`. When this `LogicalPlan` reaches the `QScript` compiler, we inline the free variables and then perform `FreeMap` normalization, which transforms `ProjectField(MakeMap("__sd0__", value), "__sd0__")` into just  `value`, removing the sorting by `"__sd__0"`.

We are abusing free variables in `LogicalPla

[2017-04-04 22:56] #1983 closed

[2017-04-04 23:20] drostron opened #2036 "Mounts migration — Config file → MetaStore"

[2017-04-05 19:50] #1915 closed

[2017-04-05 19:50] #1924 closed

[2017-04-06 17:17] sellout commented on #1298
@zeeiyerWork This isn’t fixed yet – it’s just not _fixable_ until old Mongo is gone. But it should be a fast change once that happens.

[2017-04-06 17:31] sellout commented on #2010
A few changes to the task list:
- #1537 isn’t an LP issue
- #1551 may be obsolete, or should be updated to be `TypeOf` instead of `Match`
- #1798 is really about how we hook up the fallback evaluator (which doesn’t yet exist)
- #1892 is closed
- #1923 is closed

[2017-04-06 17:35] sellout commented on #2017
#1807 should be part of this epic as well.

[2017-04-06 17:55] alissapajer commented on #1546
#1551 gets us the `LogicalPlan` change from `LP.Typecheck` to `LP.Match` (or something that avoids the duplicate conditional logic) and then #1552 compiles that `LP.Match` (or whatever we end up with) to `QScript`. I don't expect we'll merge #1551 without #1552.

This ticket is about how we represent typechecking in `QScript`, unrelated to `LogicalPlan`. It will probably be easiest to make this ch

[2017-04-06 18:05] alissapajer commented on #1262
@wemrysi could you clarify this ticket a bit? Are you thinking about how `ExecutePlan`, `EvaluatePlan`, and `Explain` use `LogicalPlan`? And then this ticket would be to create an algebra for `QScript`?

Though, I'm not convinced that the file system algebras need to know about `LogicalPlan` at all anymore, and perhaps we can just use `QScript` instead.

[2017-04-06 18:13] sellout commented on #1262
@alissapajer Yeah, we should basically `s/LogicalPlan/QScriptInternal/` in `QueryFile`, not create a new algebra. But then it sounds like this issue may cover other things beyond that.

[2017-04-06 18:18] alissapajer commented on #1298
This would be a good fix to put into the old-mongo-free feature branch when we have that available.

[2017-04-06 18:25] wemrysi commented on #1262
Yes to the `s/LP/QScriptInternal` replacement, but I was also thinking that, if we created the `MetaFile` algebra (#1263), then the query parts of the current `QueryFile` algebra could become their own algebra, call it `Query` for the sake of argument, separate from the rest of the filesystem.

It seems like the non-query filesystem operations are complete on their own, and could even be a standal

[2017-04-06 20:53] nicflores commented on #1730
[PR](https://github.com/quasar-analytics/quasar/pull/2037) submitted for local scripts and travis containerization refactor. I'll be moving on to writing some sbt tasks for integration testing.

[2017-04-10 14:55] rabbitonweb opened #2040 "Default mount to `spark-local` when no mounts specified"
Now that `spark-local` is mountable from UI, we can add auto-mount when quasar is first installed to folder holding some examples for new users to explore.

Different approaches are possible, most probably the best one would add examples during installation process. But other approaches are possible too.

[2017-04-10 14:55] rabbitonweb commented on #2040
This issue might be blocked till https://github.com/quasar-analytics/quasar/pull/2038 is merged

[2017-04-10 14:56] rabbitonweb commented on #1899
Implemented on both backend & fronted

[2017-04-10 14:56] #1899 closed

[2017-04-10 14:56] rabbitonweb commented on #1712
CLOSED

[2017-04-10 14:56] #1712 closed

[2017-04-10 14:57] rabbitonweb commented on #1907
FINISHED

[2017-04-10 14:57] #1907 closed

[2017-04-10 16:50] #1900 closed

[2017-04-10 20:12] damonLL opened #2041 "Query fails when JOINing 3 MongoDB collections and a WHERE clause"
The following query fails:

[code]

Removing the third collection resolves the issue.  The number of fields in the `SELECT` clause does not matter; tested with single field and multiple fields.

MongoDB error message sent to engineers in separate channel.

[2017-04-10 20:17] alissapajer commented on #2041
Discussed with @sellout and @damonLL. Bug does not surface when we have a 2-way join; a 3-way join is required. Additionally reference to two distinct join sides in the filter appears to be necessary to trigger the bug as well.